@model hypster.ViewModels.createStation_ViewModel
@{
    ViewBag.Title = "Создать станцию | Hypster - бесплатная музыка онлайн - плеер для Tumblr";
    ViewBag.Desc = "Создать плейлисты и слушать музыку без рекламы.";

    Layout = "~/Areas/ru/Views/Shared/_Layout.cshtml";
}




<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("background-color", "#191919");

    $(document).ready(function () {
        RenderCreateStation();
    });
    $(window).resize(function () {
        RenderCreateStation();
    });
</script>









<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight" style=" min-height:540px;">



            <div id="CreateStationSection1" onclick="window.location='/ru/Создать/Плеер';">
                <img alt="" src="/imgs/create/create_player_icon_sm.png" /><br />
                Создать Плеер
            </div>


            <div id="CreateStationSection2" onclick="window.location='/ru/Создать/Плейлист';">
                <img alt="" src="/imgs/create/create_playlist_icon_sm.png" /><br />
                Создать Плейлист
            </div>


            <div id="CreateStationSection3" onclick="window.location='/ru/Создать/Станцию';">
                <img alt="" src="/imgs/create/create_station_icon_sm.png" /><br />
                Создать Станцию
            </div>







            <div class="CreateRadioContHolder" style="margin-top:-1px;">
            
            
                            @using (Html.BeginForm("pr_CreateRadioStation_POST", "Радио", FormMethod.Post))
                            {

                                <div class="StatNameCont">
                                    
                                    <div style=" float:left; width:100%; height:30px; margin:6px 0 0 0; font-size:18px; color:#FCF088; text-align:left;">
                                        <span style=" margin:0 0 0 20px;">Пожалуйста, введите имя, исполнителя или жанр для вашей станции.</span>
                                    </div>

                                    <input type="text" id="RadioStationName" name="RadioStationName" value=" Имя станции" onfocus="if(this.value == ' Имя станции') this.value = '';" onblur="if(this.value == '') this.value = ' Имя станции';" />

                                    <input type="text" id="RadioStationSearchTerm" name="RadioStationSearchTerm" value=" Введите Исполнителя, Песню или Жанр" onfocus="if(this.value == ' Введите Исполнителя, Песню или Жанр') this.value = '';" onblur="if(this.value == '') this.value = ' Введите Исполнителя, Песню или Жанр';" />

                                     <input id="RadioStationSave" type="submit" value="Создать Станцию" />
                                </div>
                            
                                <!--div class="StatSearchCont"></div-->

                                <div class="StatSaveCont">
                                </div>
                            
                                if (ViewBag.ErrorMessage != null)
                                {
                                    <div style=" float:left; width:100%; ">
                                        <div class="errMsg1" >@ViewBag.ErrorMessage</div>
                                    </div>
                                }
                            }





                            <div class="VisSearchCont">
                        

                                    <div class="AdCont" style="background:url('/imgs/drag_arrows.png') no-repeat;">
                                        <div id="SideAd2d30942cbibhi0">
                                            @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")
                                        </div>
                                        <!-- 06_25 -->
                                        
                                    </div>


                        
                                    <div style=" overflow:hidden;">
                                    
                                            <div class="SbTop" style=" height:125px; overflow:hidden; " onmousedown="lockClick();" onmouseup="unlockClick();" onmousemove="mouseVS_move();">
                                            @for (int i = 0; i < 10; i++)
                                            {
                                                if (i < Model.visualSearchList.Count)
                                                {
                                                    <img class="VisSerItm" alt="@Model.visualSearchList[i].Artist_Name.Replace("_", " ");" src="/imgs/visualSearch/@(Model.visualSearchList[i].Artist_Name).jpg" onclick="PopulateRadioStationF('@Model.visualSearchList[i].Artist_Name.Replace("_", " ")');"  />
                                                }
                                            }
                                            </div>
                        

                                            <div class="SbBottom" style=" height:125px; overflow:hidden;" onmousedown="lockClick();" onmouseup="unlockClick();" onmousemove="mouseVS_move();">     
                                            @for (int i = 10; i > 0; i--)
                                            {
                                                if (i < Model.visualSearchList.Count)
                                                {
                                                    <img class="VisSerItm" alt="@Model.visualSearchList[i].Artist_Name.Replace("_", " ");" src="/imgs/visualSearch/@(Model.visualSearchList[i].Artist_Name).jpg" onclick="PopulateRadioStationF('@Model.visualSearchList[i].Artist_Name.Replace("_", " ")');" />
                                                }
                                            }
                                            </div>

                                    </div>

                            </div>


            </div>


    </div>
</div>




<script type="text/javascript">
    $(function () {
        $(".SbTop").draggable({ axis: "x" });
        $(".SbBottom").draggable({ axis: "x" });
    });



    var isMouseDown = false;
    var isMoving = false;
    var clickAllowed = true;

    function lockClick() {
        isMouseDown = true;
    }

    function unlockClick() {
        isMouseDown = false;
    }

    function mouseVS_move() {
        if (isMouseDown == true) {
            isMoving = true;
        }
    }




    function PopulateRadioStationF(object) {

        if (isMoving == false)
            $('#RadioStationSearchTerm').val(object);

        isMoving = false;
    }

</script>








<div class="boxContLeft">
    <div id="listenSlide2" class="slideLeft" style=" min-height:460px;">
        
           
           @Html.Action("PopularPlaylists", "популярное")           

    </div>
</div>