@model List<hypster_tv_DAL.PlaylistData_Song>

@{
    Layout = null;
}





@for (int i = 0; i < Model.Count; i++)
{
    <div id="PlItem_@(i + ViewBag.Start_Pos)" class="playlistItemC">
                            
        <img alt="" src="http://i.ytimg.com/vi/@Model[i].YoutubeId/0.jpg" onclick="plVClick('@Model[i].YoutubeId', @(i + ViewBag.Start_Pos))" />
        <div id="songC_@(i + ViewBag.Start_Pos)" class="songTtl" onclick="plVClick('@Model[i].YoutubeId', @(i + ViewBag.Start_Pos))">
            @Model[i].Title
        </div>
        <input type="hidden" id="si_@Model[i].YoutubeId" value="@Model[i].id" />
                            
        <div id="songA_@(i + ViewBag.Start_Pos)" class="skpSngBtn" onclick="skipSong(@(i + ViewBag.Start_Pos));">
            skip
        </div>

    </div>
}



@if(ViewBag.LoadMoreBtn != null && ViewBag.LoadMoreBtn == 1)
{
    <div class="LoadMoreSongs_btn" onclick="LoadMoreSongsPlaylist()" style=" float:left; width:98.5%; height:44px; line-height:44px; overflow:hidden; background-color:#454545; margin:0 0 2px 2px; border-radius:1px; text-align:center; cursor:pointer; ">
        Load More Songs...
    </div>
}




<script type="text/javascript">
@for (int j = 0; j < Model.Count; j++)
{
    <text>items_arr.push('@Model[j].YoutubeId');</text>
}
</script>  
