@model hypster.ViewModels.listenViewModel
@{
    Layout = null;
}




<div style=" float:left; width:100%; height:39px; line-height:39px; margin:0 0 10px -12px; font-size:20px; text-align:center; font-weight:bold; color:#000000; border-bottom:1px solid #1b1b1b;">
    &nbsp;&nbsp;Radio Stations
</div>




<div class="contMiddle" style=" display:block; margin-bottom:5px;">
    <div class="radioSearch">
        <input type="text" id="stationName" name="stationName" value=" Enter Artist, Song or Genre" onfocus="if(this.value == ' Enter Artist, Song or Genre') this.value = '';" onblur="if(this.value == '') this.value = ' Enter Artist, Song or Genre';" />
        <div class="btnRadioSearch" onclick="CustomRadioStation()">Listen</div>
    </div>
</div>




@foreach (var item in Model.genres_list)
{
    <div class="plItem">
        <a class="plPrw" onclick="DRDD(this, @item.Playlist_ID, @item.User_ID);"></a>
        <div class="plName" onclick="OPLRRadio('@HttpUtility.UrlEncode(item.GenreName.Replace("&", "_and_").ToLower())');">@item.GenreName</div>
        <a class="plPlay" onclick="OPLRRadio('@HttpUtility.UrlEncode(item.GenreName.Replace("&", "_and_").ToLower())');"></a>
    </div> 
}






<div style=" float:left; width:100%; height:39px; line-height:39px; margin:0 0 10px -12px; font-size:20px; text-align:center; font-weight:bold; color:#000000; border-bottom:1px solid #1b1b1b; ">
    &nbsp;&nbsp;Charts
</div>

@foreach (var item in Model.charts_list)
{
    <div class="plItem">
        <a class="plPrw" onclick="DispRadioDetails(this, @item.Chart_Playlist_ID, @item.Chart_User_ID);"></a>
        <!-- onmouseout="HideRadioDetails(event, this);"></a-->
        <div class="plName" onclick="OpenPlayerM('/apps/appPlaylists/chart/@(item.Chart_GUID)');">@item.Chart_Name</div>
        <a class="plPlay" onclick="OpenPlayerM('/apps/appPlaylists/chart/@(item.Chart_GUID)');" ></a>
    </div>  
}









<div style=" float:left; width:100%; height:39px; line-height:39px; margin:0 0 10px -12px; font-size:20px; text-align:center; font-weight:bold; color:#000000; border-bottom:1px solid #1b1b1b; ">
    &nbsp;&nbsp;Festivals
</div>

@foreach (var item in Model.festivals_list)
{
<div class="plItem">
    <a class="plPrw" onclick="DispRadioDetails(this, @item.Festival_Playlist_ID, @item.Festival_User_ID);"></a>
    <!-- onmouseout="HideRadioDetails(event, this);"></a-->
    <div class="plName" onclick="OpenPlayerM('/apps/appPlaylists/festival/@(item.Festival_GUID)');">@item.Festival_Name</div>
    <a class="plPlay" onclick="OpenPlayerM('/apps/appPlaylists/festival/@(item.Festival_GUID)');" ></a>
</div>  
}








<div id="Radio_PlstPreview">
    <div class="LdingPrev">Loading...</div>
</div>