@model hypster.ViewModels.videoPlayerViewModel
@{  
    int song_limit = Int32.Parse(System.Configuration.ConfigurationManager.AppSettings["Song_LIMIT"]);
}


<!--link src="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"  rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.8.3.min.js"  type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"  type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script-->
@*Scripts.Render("~/bundlesMPL/scripts")*@
@*Styles.Render("~/bundlesMPL/css")*@



<link href="/css/Player.css" rel="stylesheet" type="text/css" />
<script src="/scripts/hypMPLScriptST.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $(".MainNHypPlayer").css("width", $(window).width() + "px");
    });

</script>

<div class="MainNHypPlayer" style="margin-top:-5px;">
    <div class="srclArea1">
        <div class="MainRootCont">
            <div id="plrSec1">
                <div id="plrHeader1">                    
                    <a class="plrLogo" href="http://hypster.com" target="_blank"></a>
                    <div id="ShrContH1innt">
                        <script type="text/javascript" src="http://i.po.st/static/v3/post-widget.js#publisherKey=caq8eudavn7j6erou9n3"></script>
                    </div>
                    <div class="SocialHolder">
                        <div class="pw-widget pw-counter-horizontal">
	                        <a class="pw-button-tumblr pw-look-native"></a>
                            <a class="pw-button-facebook pw-look-native"></a>
	                        <a class="pw-button-twitter pw-look-native"></a>
                            <a class="pw-button-googleplus pw-look-native"></a>
	                        <a class="pw-button-post-share"></a>
                        </div>
                    </div>
                </div>

                <div id="MainContHolder">
                    <div class="MainPlayerHoder">
                        <div id="player"></div>
                        <div id="PlaybackStatusCont1" onmouseover="PSC_over()" onmouseout="PSC_out()" >
                            <div id="PlaybackStatusInnrCont1"><div id="PlaybackStatus1"></div></div>
                        </div>



                            <div class="ControlBar">
            
                                <div id="Prev_btn" onclick="PlayPrevVideo();" title="Prev"></div>
                
                                <div id="PlPs_btn" onclick="PlayPauseVideo();" title="Play/Pause"></div>
            
                                <div id="Next_btn" onclick="PlayNextVideo();" title="Next"></div>

                                <div id="Shuffle_btn" onclick="ShuffleSongs();" title="Shuffle"></div>

                                <div id="Mute_btn_cont" onmouseover="SoundMouseOver();" onmouseout="SoundMouseOut();" title="Mute/Unmute">
                                    <div id="Mute_btn" onclick="MuteSound();" title="Mute/Unmute"></div>
                                    <div id="VolumeControl"><div id="VolumeControlVal"></div></div>
                                </div>




                                @if (User.Identity.IsAuthenticated == false)
                                {
                                    <a class="plrFindSimilarBtn" href="/listen/similar?US_ID=@ViewBag.UserID&PL_ID=@ViewBag.PlaylistID" target="_blank" onmouseover="$('#fndsimtxt').html('FIND SIMILAR PLAYLISTS');" onmouseout="$('#fndsimtxt').html('FIND SIMILAR');">
                                        <span id="fndsimtxt">FIND SIMILAR</span>
                                    </a>
                                }


                                <div class="plrAddSongBtn" onclick="AddSong_CLICK()" style="@if (User.Identity.IsAuthenticated == false){<text>display:none;</text>} " onmouseover="$('#addsngtxt').html('ADD SONG TO MY PLAYLIST');" onmouseout="$('#addsngtxt').html('ADD SONG');">
                                    <div id="addsngtxt">ADD SONG</div>
                                    <div id="AddNSongBtn" title="Add to playlist"></div>
                                </div>


                            
                                <div id="LikePlaylist" title="Like this playlist" style="@if (User.Identity.IsAuthenticated == false){<text>display:none;</text>} @if (ViewBag.PlaylistLikes == null){<text>display:none;</text>}">
                        
                                    <div>
                                        @using (Ajax.BeginForm("AddNewPlaylistLike", "playlist", new AjaxOptions { UpdateTargetId = "LikeNumContH", HttpMethod = "POST", OnComplete = "AddNewPlaylistLikeComplete" }))
                                        {
                                            <input id="PlstLikeBtn" type="submit" value="" title="Like & Save" />
                                            <input type="hidden" name="Playlist_ID" id="Playlist_ID" value="@ViewBag.PlaylistID" />
                                            <input type="hidden" name="Owner_ID" id="Owner_ID" value="@ViewBag.UserID" />
                                        }
                                    </div>
                                
                                </div>



                            </div>

                        </div>






                        <div class="MainAdsHoder right_rail">

                            <div class="AdUntL">
                                    <div id="SideAd1_id2328971cvbc">
                                    </div>
                                    <!-- 06_25 -->
                                    <script type="text/javascript">
                                        function fill_ad_1() {
                                            document.getElementById("SideAd1_id2328971cvbc").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default\" width=\"300\" height=\"250\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                                        }
                                    </script>
                                    
                            </div>


                            <div class="AdUntR">
                                    <div id="SideAd2_w8392791skc">
                                    </div>
                                    <!-- 06_25 -->
                                    <script type="text/javascript">
                                        function fill_ad_2() {
                                            document.getElementById("SideAd2_w8392791skc").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default\" width=\"300\" height=\"250\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                                        }
                                    </script>
                                    
                            </div>

                        </div>

                </div>









                <div class="MainPlaylistHolder">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <select id="dr_PlaylistList" onchange="change_player_playlist(this);">
                            @foreach (hypster_tv_DAL.Playlist item in Model.userPlaylists_list)
                            {
                                <option value="@item.id" @if (ViewBag.PlaylistID != null && item.id == ViewBag.PlaylistID){ <text>selected="selected"</text> } >@item.name</option>
                            }
                        </select>
                    }
                    else
                    {
                        <div class="plrPlstName">
                            <h1>@ViewBag.PlaylistName</h1>
                        </div>
                    }
        

                
                    <div id="PlayerPlaylistHolder1">
                        @for (int i = 0; i < Model.songs_list.Count; i++)
                        {
                            <div id="PlItem_@i" class="playlistItemC">
                                <img alt="" src="http://i.ytimg.com/vi/@Model.songs_list[i].YoutubeId/0.jpg" onclick="plVClick('@Model.songs_list[i].YoutubeId', @i)" />
                                <div id="songC_@i" class="songTtl" onclick="plVClick('@Model.songs_list[i].YoutubeId', @i)">@Model.songs_list[i].Title</div>
                                <input type="hidden" id="si_@Model.songs_list[i].YoutubeId" value="@Model.songs_list[i].id" />
                                <div id="songA_@i" class="skpSngBtn" onclick="skipSong(@i);">skip</div>
                            </div>
                            
                            if (i == song_limit)
                            {
                                <div class="LoadMoreSongs_btn" onclick="LoadMoreSongsPlaylist()">Load More Songs...</div>
                                break;
                            }
                        }


                        @if (ViewBag.ShowRecommendations == 1)
                        {   
                            
                            <pm:widget title="&nbsp;Recommended for you" 
                                    max-item-count="16" 
                                    layout="grid"
                                    cols="1"
                                    width="383"
                                    thumb-width="50"
                                    thumb-height="37"
                                    max-item-title-length="36" />
                        }

                    </div>




                    <div class="plrPlstLikeS">
    
                        @if (@ViewBag.PlaylistLikes != null)
                        {
                            <div class="mplViewsNB">
                                <div id="LikeNSave">Likes:</div>
                                <div id="LikeNumContH">@ViewBag.PlaylistLikes</div>
                            </div>
                        }
                        
                        @if (@ViewBag.PlaylistViews != null)
                        {
                            <div class="mplLikesNB">
                                <div id="ViewsNSave">Views:</div>
                                <div id="ViewsNumContH">@ViewBag.PlaylistViews</div>
                            </div>
                        }
                        
                        <div class="mplSendFeedback" onclick="ShowSubmitFeedbackPopup()">
                            <img alt="send feedback" src="/imgs/player/feedback_icn.jpg" />
                            <div>Send us feedback</div>
                        </div>
                    </div>


                </div>



            </div>







            <div id="RtScrAr">

                <div id="currPlS1">
                    <div class="tagsCapt">TAGS:</div> 
                    @if (ViewBag.TagsList != null)
                    {
                        foreach (var item in ViewBag.TagsList)
                        {
                            if (item != " ")
                            {
                            <div class="plrTag" onclick="srchTagS('@item');">@item</div>
                            }
                        }
                    }
                </div>


                <div class="exPlInnrCH">
                    
                    <div class="sliderBtnLR" onclick="ScrollContF(this);">></div>

                    <div id="PopPlstsCH1"></div>

                </div>

            </div>


    </div>




    







    
    <div class="Trans_BACK" id="HideBackDiv" onclick="Show_Content();"></div>
    <div id="popupContainer"></div>
    


    

    <script type="text/javascript">
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


        PlbkBar_W = 609;
        volContBar_W = 43;

        curr_playlist_id = '@ViewBag.PlaylistID';
        curr_user_id = '@ViewBag.UserID';
        iua = '@User.Identity.IsAuthenticated';
        desc_length = '@ViewBag.DescLength';
        isNP = 'Y';



        
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                width: '600',
                height: '340',
                @if (Model.songs_list.Count > 0)
                {
                    <text>videoId: '@Model.songs_list[0].YoutubeId',</text>
                }
                playerVars: { 'autoplay': 0, 'controls': 0 },
                events: {
                    'onReady': onPlayerReady
                }
            });
            

            //plTimer = setInterval(function () { currentPlaybackState() }, 1000);

            PSC1 = document.getElementById("PlaybackStatusCont1");
            PSC1.addEventListener("click", changePlaybackStatus_Click, false);

            volCont1 = document.getElementById("VolumeControl");
            volCont1.addEventListener("click", VolumeControl_Click, false);

            @if (Model.songs_list.Count > 0)
            {
                <text>CURR_VIDEO = 0;</text>
            }
        }
        
        

        function change_player_playlist(object) {
            window.location = "/playlists/user/@(ViewBag.Username)?" + object[object.selectedIndex].value;
        }


        var isReady = false;
        function onPlayerReady(event) {
            if(isReady == false)
            {
                player.addEventListener("onStateChange", "onPlayerStateChange");
                player.addEventListener("onError", "onError");
                player.setVolume(85);

                plTimer = setInterval(function () { currentPlaybackState() }, 1000);


                @if (ViewBag.AUTO_PLAY != null && ViewBag.AUTO_PLAY == "0")
                {
                }
                else
                {
                    <text>
                    if (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows()) {
                        //m
                    }
                    else
                    {
                        CURR_VIDEO = -1;
                        PlayNextVideo();
                        $("#RtScrAr").css('display','block');
                    }
                    </text>
                }

                isReady = true;
                setTimeout(function(){SharesNum()}, 3000);
            }
        }



        var items_arr = new Array();
        @for (int i = 0; i < Model.songs_list.Count; i++)
        {
            <text>items_arr[@i] = '@Model.songs_list[i].YoutubeId';</text>

            if (i == song_limit)
            {
                break;
            }
        }
        if(items_arr.length > 1)
        {
            $("#Prev_btn").css("display","block");
            $("#Next_btn").css("display","block");
            $("#Shuffle_btn").css("display","block");
        }
        else
        {
            $("#Prev_btn").css("display","none");
            $("#Next_btn").css("display","none");
            $("#Shuffle_btn").css("display","none");
        }


        function ShuffleSongs()
        {
            ShuffleSongsI(@ViewBag.UserID);
        }

        $(document).ready( function() {
            DocReadyF();
        });
    </script>








    <div id="TraceTxt" style="display:none;"></div>
    <div class="Trans_BACK" id="HideBackDiv_PopupPlayer" onclick="Show_Content_PopupPlayer();"></div>
    <div id="popupContainer_PopupPlayer"></div>
    

    </div>
</div>
