@model hypster.ViewModels.listenViewModel
@{
    Layout = null;
}




<div style=" float:left; width:100%; height:39px; line-height:39px; margin:0 0 10px -12px; font-size:20px; text-align:center; font-weight:bold; color:#000000; border-bottom:1px solid #1b1b1b;">
    &nbsp;&nbsp;Radio Stations
</div>




<div class="contMiddle" style=" display:block; margin-bottom:5px;">
    <div class="radioSearch">
        <input type="text" id="stationName" name="stationName" value=" Enter Artist, Song or Genre" onfocus="if(this.value == ' Enter Artist, Song or Genre') this.value = '';" onblur="if(this.value == '') this.value = ' Enter Artist, Song or Genre';" />
        <div class="btnRadioSearch" onclick="CustomRadioStation()">Listen</div>
    </div>
</div>




@foreach (var item in Model.genres_list)
{
    <div class="plItem" onclick="OPLRRadio('@HttpUtility.UrlEncode(item.GenreName.Replace("&", "_and_").ToLower())');" onmouseover="DRDD(this, @item.Playlist_ID, @item.User_ID);" onmouseout="HRDD(event, this);">
        <div class="plName">@item.GenreName</div>
        <a class="plPlay" title="Play playlist"></a>
    </div> 
}






<div style=" float:left; width:100%; height:39px; line-height:39px; margin:0 0 10px -12px; font-size:20px; text-align:center; font-weight:bold; color:#000000; border-bottom:1px solid #1b1b1b; ">
    &nbsp;&nbsp;Charts
</div>

@foreach (var item in Model.charts_list)
{
    <div class="plItem" onclick="OpenPlayerM('/playlists/chart/@(item.Chart_GUID)');" onmouseover="DispRadioDetails(this, @item.Chart_Playlist_ID, @item.Chart_User_ID);" onmouseout="HideRadioDetails(event, this);">
        <div class="plName">@item.Chart_Name</div>
        <a class="plPlay" title="Play playlist" ></a>
    </div>  
}

<div class="plItem" onclick="window.location='/charts';" style="background-color:#3fbc91;">
    <div class="plName" style="color:#FFFFFF;">MORE CHARTS</div>
</div>  








<div style=" float:left; width:100%; height:39px; line-height:39px; margin:0 0 10px -12px; font-size:20px; text-align:center; font-weight:bold; color:#000000; border-bottom:1px solid #1b1b1b; ">
    &nbsp;&nbsp;Festivals
</div>

@foreach (var item in Model.festivals_list)
{
<div class="plItem" onclick="OpenPlayerM('/playlists/festival/@(item.Festival_GUID)');" onmouseover="DispRadioDetails(this, @item.Festival_Playlist_ID, @item.Festival_User_ID);" onmouseout="HideRadioDetails(event, this);">
    <div class="plName">@item.Festival_Name</div>
    <a class="plPlay" title="Play playlist" ></a>
</div>  
}

<div class="plItem" onclick="window.location='/festivals';" style="background-color:#3fbc91;">
    <div class="plName" style="color:#FFFFFF;">MORE FESTIVALS</div>
</div>  






<div style=" float:left; width:1024px; margin:10px 0 13px 0;">
  
    <div id="Add1_s2839iq">
        @Html.Partial("~/Views/hypAds/ad_728x90.cshtml")
    </div>
    <!-- 06_25 -->

</div>


<div id="Radio_PlstPreview">
    <div class="LdingPrev">Loading...</div>
</div>