@model List<hypster_tv_DAL.FeaturedPlaylist_Result>
@{
    Layout = null;
    int back_id = 1;
}




@for(int i=0; i<12; i++)
{
    if( i < Model.Count)
    {
        <div @if (back_id == 1) { <text>class="songItm"</text>} else {<text>class="songItm1"</text>} onclick="OpenPlayerM('/playlists/featured/@Model[i].FeaturedPlaylist_Guid')" onmouseover="DspPPDDG(this, @Model[i].FeaturedPlaylist_PlaylistID, @Model[i].FeaturedPlaylist_UserID);" onmouseout="HdPPDDG(event, this);" >
            <a class="songItm_title" href="#">@Model[i].FeaturedPlaylist_PlaylistName</a>
            <a class="songItm_likes" title="@Model[i].ViewsNum views">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model[i].ViewsNum)</a>
            <a class="songItm_views" title="@Model[i].Likes likes">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model[i].Likes)</a>
            <a class="songItm_play" title="play" href="#"></a>
        </div>
    }
    back_id = back_id * -1;
}



<div @if (back_id == 1) { <text>class="songItm"</text>} else {<text>class="songItm1"</text>} style=" background-color:#d4ae52;" onclick="window.location='/featured';">
    <a class="songItm_title" href="/featured" style=" color:#FFFFFF;">More Featured Playlists</a>
</div>


<div id="PP_PlstPreviewDG">
    <div class="LdingPrevDG">Loading...</div>
</div>