@{
    ViewBag.Title = "Music playlist online - Tumblr music player";
    ViewBag.Desc = "Make a playlist online for free, tumblr music player: create player for tumblr or blogger, listen to our 10 million playlists, create your own playlist online for free.";
    ViewBag.ActivePage = "hypster";

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appHome\" >";
    Layout = "/Views/Shared/_Layout2.cshtml";
}
@Scripts.Render("~/scripts/jquery.cycle.all.latest.js")

<style type="text/css">
    .sld1_middleCont button {
        border-radius:4px;
        margin:15px 25px 15px 25px;
        background-color:#d5af55;
    }
</style>

<div class="mainSlideshow">
    @Html.Action("Get_Home_Slideshow", "home")
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingHomeWidget_PR", "breaking")
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingGenre", "breaking", new { genre = "Indie Pop;Young Pop Icons", title = "Pop" })
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingGenre", "breaking", new { genre = "Hip Hop and Rap" })
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingGenre", "breaking", new { genre = "Rock" })
</div>
