@model hypster.ViewModels.HomPopularCont_ViewModel
@{
    Layout = null;
    int count = 0;
}


<div class="HomPopularCont">
    

    <div class="hpcCol1">
        <div class="hpcHeader" onclick="window.location='/charts';">Charts</div>

        
        @{ count = 0; }
        @foreach (var item in Model.charts_list)
        {
            <div class="hpcPlstC" onclick="OpenPlayerM('/playlists/chart/@(item.Chart_GUID)?rtg=9128');" onmouseover="DispPopPlstDetails(this, @item.Chart_Playlist_ID, @item.Chart_User_ID);" onmouseout="HidePopPlstDetails(event, this);">
                <div>&nbsp;@item.Chart_Name</div>
                <a title="play"></a>
            </div>
            
            if (count == 8)
            {
                break;
            }
            count++;
        }

    </div>            



    <div class="hpcCol2">
        <div class="hpcHeader" onclick="window.location='/festivals';">Festivals</div>


        @{ count = 0; }
        @foreach (var item in Model.festivals_list)
        {
            <div class="hpcPlstC2" onclick="OpenPlayerM('/playlists/festival/@(item.Festival_GUID)?rtg=9128');" onmouseover="DispPopPlstDetails(this, @item.Festival_Playlist_ID, @item.Festival_User_ID);" onmouseout="HidePopPlstDetails(event, this);">
                <div>&nbsp;@item.Festival_Name</div>
                <a title="play"></a>
            </div>
            
            if (count == 8)
            {
                break;
            }
            count++;
        }

    </div>



    <div class="hpcCol3">
        <div class="hpcHeader" onclick="window.location='/playlists';">Popular</div>

        @{ count = 0; }
        @foreach (var item in Model.popular_playlists)
        {
            <div class="hpcPlstC3" onclick="OpenPlayerM('/playlists/user/@(item.username)?@(item.id)&rtg=9128');" onmouseover="DispPopPlstDetails(this, @item.id, @item.userid);" onmouseout="HidePopPlstDetails(event, this);">
                <div>&nbsp;@item.name</div>
                <a title="play"></a>
            </div>
            
            if (count == 8)
            {
                break;
            }
            count++;
        }
    </div>


</div>



<div id="PP_PlstPreview">
    <div class="LdingPrev">Loading...</div>
</div>






<div class="NPFT_BHead" style=" margin-top:13px;">
    <div class="NPFT_GoOnTop" style=" width:274px;" onclick="$(document).scrollTop(0);">
        Go To Top
    </div>

</div>
