@model List<hypster_tv_DAL.Playlist>
@{
    ViewBag.Title = "Manage Playlists";
    Layout = "/Areas/senses/Views/Shared/_srLayout.cshtml";

    int i_counter = 1;
}





<div class="cir_back_btn"> 
    <div onclick="clickBack()" style=" float:left; width:100%; margin:0px 0 0 0px; cursor:pointer; ">
        BACK
    </div>
</div>






<div style=" float:left; width:100%; min-height:450px; border:1px solid #318E8A;">
    


    <div class="ctR1">
        <div class="accountPlstBlkBox1">


                <div id="msgBox1_managePlaylists" style="  float:none; width:400px; margin:auto; ">

                    <div style=" margin:0 0 10px 0; color:#FFFFFF;">
                        Manage your @Model.Count playlists.
                    </div>


                    @foreach (var item in Model)
                    {
                        <div class="mnuItm" id="menu_@(i_counter)" data-plstid="@item.id" data-plstname="@item.name.Replace("\'","")" onclick="plstItemClick(this)">
                            @item.name
                        </div>
    
                        i_counter += 1;
                    }

                    <div onclick="addNewPlaylist();" style=" width:250px; height:30px; line-height:30px; margin:13px 0 0 0; background-color:#d4ae52; border-radius:3px; cursor:pointer; text-align:center;">
                        Add New Playlist
                    </div>


                    <div style=" width:100%; height:40px;">
                    </div>

                </div>
                 
            
        </div>
    </div>





    <div class="ctL1" style=" background:#FFFFFF url('/Areas/senses/imgs/senses_back/back_3.jpg') no-repeat center;">
        
        <img alt="" src="/Areas/senses/imgs/senses_ct_icon.png" style=" float:left; margin:90px 0 0 270px;" />

    </div>
    



</div>










<script type="text/javascript">
    $(document).ready(function () {

        cancelSpeech();
        startSpeech('Manage your @Model.Count playlists. To Add New Press 1.');

    });
</script>


<script type="text/javascript">

    var CURR_ACTIVE_MENU = 0;
    var MENU_COUNT = @Model.Count;

    var CURR_ACTION = "";
    var CURR_PLST_ID = 0;


    function HandleKeyAction(e) {
        
        cancelSpeech();
        

        var KEY_CODE = 0;

        if (window.event) {
            KEY_CODE = window.event.keyCode;
        }
        else {
            KEY_CODE = e.which;
        }


        //alert(KEY_CODE);


        //ESC
        if (KEY_CODE == 27) {
            clickBack();
        }



        //enter
        if (KEY_CODE == 13) {
        
            //alert($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid"));


            if(CURR_ACTION != "")
            {
                switch(CURR_ACTION)
                {
                    case "REN":

                        window.location = "/senses/sAccount/RenamePlaylist/" + CURR_PLST_ID;
                        
                        CURR_ACTION = "";
                        CURR_PLST_ID = 0;
                        return;
                        //--------------------------------------------------------------------
                        break;
                    case "DEL":

                        $(".mnuItm[data-plstid='"+CURR_PLST_ID+"']").css("display","none");

                        $.ajax({
                            type: "POST",
                            url: "/senses/sAccount/DeletePlaylist/" + CURR_PLST_ID,
                            async: true,
                            success: function (data) {
                                //alert(data);

                                startSpeech('done');
                            }
                        });
                        

                        CURR_ACTION = "";
                        CURR_PLST_ID = 0;
                        return;
                        //--------------------------------------------------------------------
                        break;
                    case "DEF":
                        // handle confirm action
                        //--------------------------------------------------------------------
                        $.ajax({
                            type: "POST",
                            url: "/senses/sAccount/SetDefaultPlaylist/" + CURR_PLST_ID,
                            async: true,
                            success: function (data) {
                                //alert(data);

                                startSpeech('done');
                                
                            }
                        });

                        CURR_ACTION = "";
                        CURR_PLST_ID = 0;
                        return;
                        //--------------------------------------------------------------------
                        break;
                    case "ADD":
                        // handle confirm action
                        //--------------------------------------------------------------------
                        addNewPlaylist();

                        CURR_ACTION = "";
                        CURR_PLST_ID = 0;
                        return;
                        //--------------------------------------------------------------------
                        break;
                    default:
                        break;
                }
            }
            
            
            //load current playlist
            //--------------------------------------------------------------------
            //$("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname") + 
            
            

            window.location = "/senses/sAccount/RenamePlaylist/" + $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid");


            //}
            //--------------------------------------------------------------------
        }



        //down
        if (KEY_CODE == 40) {
            //move menu down

            CURR_ACTIVE_MENU += 1;
            if (CURR_ACTIVE_MENU > MENU_COUNT) {
                CURR_ACTIVE_MENU = MENU_COUNT;
            }

            
            startSpeech($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));


            $(".mnuItm").css("background-color", "#000000");
            $("#menu_" + CURR_ACTIVE_MENU).css("background-color", "#318E8A");
        }


        //up
        if (KEY_CODE == 38) {
            //move menu up

            CURR_ACTIVE_MENU -= 1;
            if (CURR_ACTIVE_MENU <= 0) {
                CURR_ACTIVE_MENU = 1;
            }


            startSpeech($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));


            $(".mnuItm").css("background-color", "#000000");
            $("#menu_" + CURR_ACTIVE_MENU).css("background-color", "#318E8A");
        }








        if (KEY_CODE > 48 && KEY_CODE < 58) {
            
            var ACTION_NUM = KEY_CODE - 48;
            
            

            if(CURR_ACTIVE_MENU == 0)
            {
                //alert(CURR_ACTIVE_MENU);

                //--------------------------------------------------------

                startSpeech('Press Enter to confirm add new playlist');


                CURR_ACTION = "ADD";
                CURR_PLST_ID = 0;

                setTimeout(function(){
                        CURR_ACTION = "";
                        CURR_PLST_ID = 0;
                    }, 7000);
                //--------------------------------------------------------

                return;
            }




            switch(ACTION_NUM)
            {
                case 1:
                    //--------------------------------------------------------

                    cancelSpeech();
                    startSpeech('Press Enter to confirm rename of ' + $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));



                    CURR_ACTION = "REN";
                    CURR_PLST_ID = $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid");

                    setTimeout(function(){
                            CURR_ACTION = "";
                            CURR_PLST_ID = 0;
                        }, 7000);
                    //--------------------------------------------------------
                    break;
                case 2:
                    //--------------------------------------------------------
                    
                    cancelSpeech();
                    startSpeech('Press Enter to confirm removal of ' + $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));


                    CURR_ACTION = "DEL";
                    CURR_PLST_ID = $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid");

                    setTimeout(function(){
                            CURR_ACTION = "";
                            CURR_PLST_ID = 0;
                        }, 7000);
                    //--------------------------------------------------------
                    break;
                default:
                    //--------------------------------------------------------
                    
                    cancelSpeech();
                    startSpeech('Press Enter to confirm set default of ' + $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));


                    CURR_ACTION = "DEF";
                    CURR_PLST_ID = $("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid");

                    setTimeout(function(){
                            CURR_ACTION = "";
                            CURR_PLST_ID = 0;
                        }, 7000);
                    //--------------------------------------------------------
                    break;
            }

        }




        //CNTRL
        if (KEY_CODE == 17) {
            StartVoiceCommand("myAccount");
        }


    }


    function ProccessVoiceCommand(comm) {

        var isHandled = false;
        isHandled = handle_generic_commands(comm);

    }








    function clickBack()
    {
        window.location = "/senses/sAccount/ManageAccount";
    }


    function plstItemClick(sender)
    {
        window.location = "/senses/sAccount/RenamePlaylist/" + $(sender).attr("data-plstid");
    }



    function addNewPlaylist(){

        window.location = "/senses/sAccount/AddNewPlaylist";

    }


</script>
