@model hypster_tv_DAL.newsPost
@{
    ViewBag.Title = Model.post_title;
    ViewBag.Desc = Model.post_short_content;

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appBreaking/details/" + Model.post_guid + "\" >";
}

<div class="pst_BackCh1">
    <div class="pst_leftCH1">
        <div class="Post_mainCont">
            <article id="post-@Model.post_guid" class="hentry">
                <h1 class="entry-title">@Model.post_title</h1>
                <div class="entry-content pst_MainCH1">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.post_content))<br />
                </div>
                <div class="pst_BottomCH1">
                    <div class="plShareCntr1">
                        <div class="plShareIcn" onmouseover="this.style.display='none'; $('#SocialHolder1').css('display','block'); "></div>
                        <div id="SocialHolder1" class="pw-widget pw-counter-horizontal" style="display:none; margin:17px 0 0 0px;">
                            <a class="pw-button-tumblr pw-look-native"></a>
                            <a class="pw-button-facebook pw-look-native"></a>
                            <a class="pw-button-twitter pw-look-native"></a>
                            <a class="pw-button-googleplus pw-look-native"></a>
                            <a class="pw-button-post-share"></a>
                        </div>
                        <script src="http://i.po.st/static/v3/post-widget.js#publisherKey=caq8eudavn7j6erou9n3&retina=true" type="text/javascript"></script>
                    </div>

                    <div class="pstBtmDate">
                        Posted on
                        <time class="published" datetime="@(Model.post_date.Value.Year)-@(Model.post_date.Value.Month)-@(Model.post_date.Value.Day)T12:00:00+00:00">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.post_date.Value.Month) @Model.post_date.Value.Day, @Model.post_date.Value.Year</time>
                    </div>

                    <div style="color:#FFFFFF;">
                        <time class="updated" datetime="@(Model.post_date.Value.Year)-@(Model.post_date.Value.Month)-@(Model.post_date.Value.Day)T12:00:00+00:00">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.post_date.Value.Month) @Model.post_date.Value.Day, @Model.post_date.Value.Year</time>
                    </div>
                </div>
            </article>

            <div class="PostNav_cont">
                <a class="PrevPost" href="/breaking/prevPost?PID=@Model.post_id">PREV POST</a>
                <a class="HomePost" style="width:150px;" href="/breaking">NEWS HOME</a>
                <a class="NextPost" href="/breaking/nextPost?PID=@Model.post_id">NEXT POST</a>
            </div>
        </div>
    </div>

    <div class="pst_rightCH1">
        <div style="float:right;margin-top:10px;">@Html.Partial("~/Views/Shared/pr_RightRail.cshtml")</div>
        <div id="relVideosCth" style="margin-left:16px;min-width:300px">
            @Html.Raw(HttpUtility.HtmlDecode(Model.MusicPlayer))
        </div>
    </div>
</div>

<div style="float:left; width:100%;">
</div>

<div style="float:left; width:100%; margin:0 0 45px 0; ">
    @*@Html.Action("pr_GetRelatedNews", "breaking",  new { id = Model.post_id } )*@
    @Html.Action("pr_GetLatestNews", "breaking")
</div>



