@model hypster.ViewModels.GetPlayerViewModel
@{
    ViewBag.Title = "New player for Tumblr";
    ViewBag.Desc = "get new player for Tumblr code";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}
<script type="text/javascript" src="/scripts/jscolor/jscolor.js"></script>




<script type="text/javascript">
    $(document).ready(function () {
        //init player settings and sample
        refreshPlayer();
    });
</script>






<div class="boxContLeft boxContRightTop">
    <div id="listenSlide1" class="slideLeft" style=" min-height:95px; ">
        

                <div class="NPFT_Head" >
                        <div class="ffHeader">Tumblr Playlist</div>
                </div>

    </div>
</div>











<div class="boxContRight">
<div id="listenSlide2" class="slideRight" style=" min-height:900px;">
    
    <div class="NPFT_ContHolder" style=" min-height:400px;">



                <div class="GetCodeBtn"><h2>Get Code</h2></div>
                <div class="MoreSkinsBtn" onclick="window.location='/m/mcreate/player';"><h2>More Skins</h2></div>





    
                <div id="CPL_Tab2">
        
                    
                    <div style=" float:left; width:98%; height:15px; line-height:13px; padding:1%; margin-bottom:13px; background-color:#FCF088; color:#232323; font-size:17px; border-radius:3px;">
                        Hypster Player is in Beta mode. Please submit your comments <a href='/hypster/Contact_Us' style=" color:#000000; font-weight:bold;">HERE</a>.
                    </div>


                
                    <div id="SampleSettingsHolder">

                    
                            <div class="HeaderCompText">
                                Player Settings:
                            </div>



               

                            <div class="SettingItm">
                                Playlist: 
                                <select id="hypPlayer_Playlist_ID" name="hypPlayer_PlaylistID" onchange="refreshPlayer();"> 
                                    @foreach (var item in Model.playlists_list)
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }
                                </select>
                            </div>
        

                            <div class="SettingItm">
                                Autostart: <input type="checkbox" checked="checked" id="hypPlayer_Autostart" name="hypPlayer_Autostart" onclick="refreshPlayer()" />
                            </div>
        

                            <div class="SettingItm">
                                Shuffle Playback: <input type="checkbox" checked="checked" id="hypPlayer_ShufflePlayback" name="hypPlayer_ShufflePlayback" onclick="refreshPlayer()" />
                            </div>


                            <div class="SettingItm">
                                Main Back Color:&nbsp;
                                <input id="hf_MainBackColor" name="hf_MainBackColor" class="color" onchange="refreshPlayer()" style=" width:52px; height:23px; border:none; border-radius:2px;" value="000000" />
                            </div>


                            <div class="SettingItm">
                                Border Color:&nbsp;
                                <input id="hf_BorderColor" name="hf_BorderColor" class="color" onchange="refreshPlayer()" style=" width:52px; height:23px; border:none; border-radius:2px;" value="454545" />
                            </div>


                            <div class="SettingItm">
                                Display Controls on Player: <input type="checkbox" checked="checked" id="hypPlayer_DisplayControlsOnPlayer" name="hypPlayer_DisplayControlsOnPlayer" onclick="refreshPlayer()" />
                            </div>

                            <div class="SettingItm">
                                Hide Player Window: <input type="checkbox" id="hypPlayer_HidePlayerWindow" name="hypPlayer_HidePlayerWindow" onclick="refreshPlayer()" />
                                <br /><span style=" color:#FCF088; font-size:11px;">YouTube requires to have video window visible, otherwise certain songs may be disabled.</span>
                            </div>

                            <div class="SettingItm">
                                Save Playback State: <input type="checkbox" checked="checked" id="hypPlayer_SavePlaybackState" name="hypPlayer_SavePlaybackState" onclick="refreshPlayer()" />
                            </div>


                            <div class="SettingItm">
                                Sound Volume: 
                                <select id="hypPlayer_Volume_Val" name="hypPlayer_Volume_Val" onchange="refreshPlayer();"> 
                                    @for(var i = 10; i<=100; i+=10)
                                    {
                                        <option value="@i" @if(i==80){<text>selected="selected"</text>} >@i</option>
                                    }
                                </select>
                            </div>

                    </div>
        



                    <div id="SampleContHolder" style=" min-height:500px; text-align:center;">
                            
                            <h2>Player Preview</h2>

                            <div style="width:100%; height:30px;">

                                    <div class="hypPlayerAddCons" ></div>

                                    <br/>Please Note: Skipped songs are due to content owner's lack of meeting YouTube Terms and Conditions. <br /><br />


                                    <div style=" float:left; margin-left:150px;">
                                    <script id="HypPlayerScript" 
                                    type="text/javascript" 
                                    src="http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/a/player7.js"  
                                    hypHostName="@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]" 
                                    hypUserID="@Model.curr_user.id" 
                                    hypPlaylistID="@if(Model.playlists_list.Count > 0){ <text>@Model.playlists_list[0].id</text>}else{<text>0</text>}" 
                                    hypPlayerControls="1" 
                                    hypAutostart="0" 
                                    hypPlayerSort="" 
                                    hypMainBackColor="#000000" 
                                    hypBorderBack="#454545" 
                                    hypVisibility="visible"
                                    hypSaveState="1"
                                    hypVolumeVal="80" >
                                    <!-- Hypster Player --></script>
                                    </div>

                           </div>

                    </div>





                    <div id="captchaCont1" style=" float:left; width:100%; min-height:55px; margin-top:15px;">

                        <div style=" float:left;">
                            <img alt="Don’t forget to answer our security question" src="/imgs/reg_hint.jpg" style=" margin-top:130px; float:right;" />
                        </div>

                        @using (Ajax.BeginForm("processCaptcha", "Tumblr_Music_Player", new AjaxOptions { UpdateTargetId = "resultPrecaptcha" }))
                        {
                            <div style=" float:left; margin:5px 15px 0 15px;">
                            <span></span>
                            <!-- start SolveMedia puzzle widget -->
                            <script type="text/javascript">
                                var ACPuzzleOptions = {
                                    tabindex: '0'
                                };
                            </script>
                            <script type="text/javascript" src="http://api.solvemedia.com/papi/challenge.script?k=@System.Configuration.ConfigurationManager.AppSettings["SolveMediaChallengeKey"]"></script>
                            <noscript>
	                            <iframe height="300" width="500" frameborder="0" src="http://api.solvemedia.com/papi/challenge.noscript?k=@System.Configuration.ConfigurationManager.AppSettings["SolveMediaChallengeKey"]"></iframe><br />
                                <textarea name="adcopy_challenge" rows="3" cols="40"></textarea>
                                <input type="hidden" name="adcopy_response" value="manual_challenge" />
                            </noscript>
                            <!-- end SolveMedia puzzle widget -->
                        </div>

                            
                        <div style=" float:left; margin:5px 15px 0 0;">
                            <input type="submit" value="GET CODE" onclick="processCaptcha();" style=" float:left; width:300px; height:47px; line-height:47px; text-align:center; background-color:#42606e; border-radius:2px; margin:125px 0 0 15px; font-size:23px; font-weight:bold; cursor:pointer;" />
                        </div>
                            
                        <div id="resultPrecaptcha"></div>
                        }
       
                    </div>

        


                    <div id="SampleCodeHolder" style=" display:none; margin-top:15px; ">
                


                            <div class="HeaderCompText">
                                Player Code:
                                <br /><span style=" color:#FCF088; font-size:11px;">User may paste Hypster player anywhere within "&lt;body&gt;" and "&lt;/body&gt;" tags.</span>
                            </div>



                            <textarea id="PlayerCodeArea">
                            </textarea>





                            <div class="HeaderCompText">
                                Separate Player Controls Code:
                                <br /><span style=" color:#FCF088; font-size:11px;">User may paste Hypster player controls anywhere within "&lt;body&gt;" and "&lt;/body&gt;" tags.</span>
                            </div>
                

                            <textarea id="PlayerControlsCodeArea">
                                <div class="hypPlayerAddCons"></div>
                            </textarea>



                            <div class="mFollowUsCont1" style="margin-right:20px;">
                                <div class="fuText">
                                    Follow Us:
                                </div>
                                <div style=" float:left;">
                                    <!-- AddThis Follow BEGIN -->
                                    <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                                    <a class="addthis_button_facebook_follow" addthis:userid="Hypster"></a>
                                    <a class="addthis_button_twitter_follow" addthis:userid="TheRealHypster"></a>
                                    <a class="addthis_button_tumblr_follow" addthis:userid="hypsterblog"></a>
                                    </div>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519140dd4b47ab7b"></script>
                                    <!-- AddThis Follow END -->
                                </div>
                            </div>


                    </div>

                </div>



    </div>
</div>
</div>

















<script type="text/javascript">

    
    var isLoaded = false;
    function refreshPlayer() {
        var sample_code = "";


        var hypPlayerControls_var = "0";
        if (document.getElementById("hypPlayer_DisplayControlsOnPlayer").checked == true)
            hypPlayerControls_var = "1";
       

        var hypAutostart_var = "1";
        if (document.getElementById("hypPlayer_Autostart").checked == false)
            hypAutostart_var = "0";

        var hypPlayerSort_var = "";
        if (document.getElementById("hypPlayer_ShufflePlayback").checked == true)
            hypPlayerSort_var = "rand";

        var separatePlayback_var = true;
        

        var HidePlayerWindow_var = "visible";
        if (document.getElementById("hypPlayer_HidePlayerWindow").checked == true)
            HidePlayerWindow_var = "hidden";

        var Playlist_ID_var = "";
        var object = document.getElementById("hypPlayer_Playlist_ID");
        Playlist_ID_var = object[object.selectedIndex].value;


        var hypPlayerSavePlaybackState_var = "0";
        if (document.getElementById("hypPlayer_SavePlaybackState").checked == true)
            hypPlayerSavePlaybackState_var = "1";


        var Volume_Val_var = "";
        var object_vol = document.getElementById("hypPlayer_Volume_Val");
        Volume_Val_var = object_vol[object_vol.selectedIndex].value;
        




        var tag_script = $('#HypPlayerScript');
        $(tag_script).attr("src", "http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/a/player7.js");
        $(tag_script).attr("hypHostName", "@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]");
        $(tag_script).attr("hypUserID", "@Model.curr_user.id");
        $(tag_script).attr("hypPlaylistID", Playlist_ID_var);
        $(tag_script).attr("hypPlayerControls", hypPlayerControls_var);
        $(tag_script).attr("hypAutostart", hypAutostart_var);
        $(tag_script).attr("hypPlayerSort", hypPlayerSort_var);
        $(tag_script).attr("hypMainBackColor", "#" + $("#hf_MainBackColor").val());
        $(tag_script).attr("hypBorderBack", "#" + $("#hf_BorderColor").val());
        $(tag_script).attr("hypVisibility", HidePlayerWindow_var);
        $(tag_script).attr("hypSaveState", hypPlayerSavePlaybackState_var);

        $(tag_script).attr("hypVolumeVal", Volume_Val_var);
        



        if (separatePlayback_var == false)
            $(".hypPlayerAddCons").css("display", "none");
        else
            $(".hypPlayerAddCons").css("display", "block");
        



        if(isLoaded == true)
        {
            playlistLoaded = false;
            InitPlayer();
        }
        




        $("#PlayerCodeArea").val("");
        $("#PlayerControlsCodeArea").val("");

        if(separatePlayback_var == true)
            $("#PlayerControlsCodeArea").val("<div class=\"hypPlayerAddCons\"></div>");

        $("#PlayerCodeArea").val($("#PlayerCodeArea").val() + "<" + "script id=\"HypPlayerScript\" type=\"text/javascript\" src=\"http://@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]/a/player7.js\"  hypHostName=\"@System.Configuration.ConfigurationManager.AppSettings["hypsterHostName"]\" hypUserID=\"@Model.curr_user.id\" hypPlaylistID=\"" + Playlist_ID_var + "\" hypPlayerControls=\"" + hypPlayerControls_var + "\" hypAutostart=\"" + hypAutostart_var + "\" hypPlayerSort=\"" + hypPlayerSort_var + "\" hypMainBackColor=\"#" + $("#hf_MainBackColor").val() + "\" hypBorderBack=\"#" + $("#hf_BorderColor").val() + "\" hypVisibility=\"" + HidePlayerWindow_var + "\"  hypSaveState=\"" + hypPlayerSavePlaybackState_var + "\"  hypVolumeVal=\"" + Volume_Val_var + "\"  " + ">" + "<" + "!-- Hypster Player --" + ">" + "<" + "/script" + ">");
        


        isLoaded = true;
    }


    function processCaptcha()
    {
        $('#SampleCodeHolder').css('display','block'); 
        $('#captchaCont1').css('display','none');
    }

</script>

