@model hypster.ViewModels.videoPlayerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout_SP.cshtml";
}

<h2>Ad Test</h2>
<p>Banner test under different versions.</p>
<div style="float:left; width:100%; margin:20px 0 0 0;">
    <div style="width:800px;margin:7px 0 0 5px;">
        Regular 300x250:<br />
        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")<br />
        300x250 BTF:<br />
        @Html.Partial("~/Views/hypAds/ad_300x250_btf.cshtml")<br />
        300x250 Left:<br />
        @Html.Partial("~/Views/hypAds/ad_left_300x250.cshtml")<br />
        300x250 Right:<br />
        @Html.Partial("~/Views/hypAds/ad_right_300x250.cshtml")<br />
    </div>
    <br />
    <div style="width:800px; margin:7px 0 0 5px;">
        Regular 728x90:<br />
        @Html.Partial("~/Views/hypAds/ad_728x90.cshtml")<br />
        728x90 BTF:<br />
        @Html.Partial("~/Views/hypAds/ad_728x90_btf.cshtml")<br />
        728x90 MID:<br />
        @Html.Partial("~/Views/hypAds/ad_728x90_mid.cshtml")<br />
    </div>
    <br />
    <div style="width:800px; min-height:600px;">
        Regular 160x600:<br />
        @Html.Partial("~/Views/hypAds/ad_160x600.cshtml")<br />
        Regular 300x600:<br />
        @Html.Partial("~/Views/hypAds/ad_300x600.cshtml")<br />
    </div>
</div>