@model List<hypster_tv_DAL.sp_Compatibility_CompCheck_Result_Ex>
@{
    Layout = null;
    int item_num = 0;
}




<div class="mcPlstwSong" style="overflow:hidden; height:85px; background-color:#3fbc91;">

        <div class="MPLPlstsCont" >
        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].playlist_id.ToString() != ViewBag.playlist_id)
            {
                <div class="PlstItm" onclick="window.location='/playlists/user/@(Model[i].username)?@(Model[i].playlist_id)&rtg=33';" onmouseover="DispPlstCompPlsDetails(this, @Model[i].playlist_id, @Model[i].userid);" onmouseout="HidePlstCompPlsDetails(event, this);" >
                    <div class="PlstTitle">@Model[i].name</div>
                    <a class="PlstLstn" title="play"></a>
                    <a class="PlstViews" title="@Model[i].ViewsNum views">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model[i].ViewsNum)</a>
                    <a class="PlstLikes" title="@Model[i].Likes likes">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model[i].Likes)</a>
                </div>
            
                item_num += 1;
            }

            if (item_num == 4)
            {
                break;
            }
        }
        </div>


        <div id="PMYLIKE_PlstPreview">
            <div class="LdingPrev"></div>
        </div>

</div>

