@model hypster.ViewModels.createPlaylist_ViewModel
@{
    ViewBag.Title = "Create Free Playlist | Hypster - free music online - player for tumblr";
    ViewBag.Desc = "Create free playlists, and listen commercial free music.";

    ViewBag.LinkTag = "<link rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://hypster.com/apps/appCreate/playlist\" >";
    Layout = "/Views/Shared/_Layout2.cshtml";
}


<script type="text/javascript">
    window.onscroll = function (e) {
        var vertical_position = 0;
        if (pageYOffset)//usual
            vertical_position = pageYOffset;
        else if (document.documentElement.clientHeight)//ie
            vertical_position = document.documentElement.scrollTop;
        else if (document.body)//ie quirks
            vertical_position = document.body.scrollTop;

        if (vertical_position > 470) {
            if( ((vertical_position - 470) + $(".PlaylistsInnrCont").height() ) < $(".SongsInnrCont").height() )
                $(".PlaylistsInnrCont").css("top", (vertical_position - 470) + "px");
        }
        else {
            $(".PlaylistsInnrCont").css("top", 0 + "px");
        }
    }
</script>

<div class="createMenuCont">
    <div id="CreatePlaylistSection1" onclick="window.location='/create/player';" title="Search Music">
        CREATE PLAYER
    </div>
    <div id="CreatePlaylistSection2" onclick="window.location='/create/playlist';" title="Listen Playlists">
        CREATE PLAYLIST
    </div>
    <div id="CreatePlaylistSection3" onclick="window.location='/create/station';" title="Listen Radio Stations">
        CREATE STATION
    </div>
</div>

<div class="crtPlstCnt1">
    <div id="CreateContHolder">
        <div class="TopBtnsCH1">
            <div onclick="add_new_tag_nav();">&nbsp;+ Add New Tag</div>
            <div onclick="window.location='/listen';">&nbsp;+ Add New Song</div>
        </div>

        <div class="MainHeadCont">
            <div class="MainHeadPlaylist">PLAYLIST</div>            
        </div>

        <div class="CreatePlaylistCont">
            <div id="PlaylistsInnrCont1" class="PlaylistsInnrCont" style="position:relative; top:0px; margin-bottom:15px;">
                <div id="AddNewPlstItm1" class="AddNewPlstItm" onclick="$('#AddNewPlaylist_Container').css('display','block'); $('.AddNewPlstItm').css('display','none');">
                    <div>+</div> 
                    <span>ADD NEW PLAYLIST</span>
                </div>

                @using (Html.BeginForm("AccountPlaylist_AddNewPlaylist", "account"))
                {
                    <div id="AddNewPlaylist_Container">
                        <input id="AddPlaylist_Name" name="AddPlaylist_Name" type="text" maxlength="60" />
                        <input id="AddPlaylist_Save" type="submit" value="Add new playlist" />
                        <input id="AddPlaylist_Cancel" type="button" value="Cancel" onclick="$('#AddNewPlaylist_Container').css('display','none'); $('.AddNewPlstItm').css('display','block');" />
                    </div>
                }

                @foreach (var item in Model.userPlaylists_list)
                {
                    <!-- active -->
                    if (item.id == ViewBag.ActivePlaylistID)
                    {
                        <div class="PlstItm_Act" onmouseover="this.style.backgroundColor='#ABABAB';" onmouseout="this.style.backgroundColor='#FFFFFF';">
                                
                            <div class="PlstItm_ActTitle" id="textName_cont_@item.id">
                                <span onclick="OpenPlayerM('/playlists/user/@User.Identity.Name?@item.id');" style="display:block; float:left; width:24px; height:24px; line-height:24px; margin:3px 0 0 0; background:#47bb90 url(/imgs/play_icon.png) no-repeat 6px 4px; border-radius:15px; ">
                                </span>
                                <div onclick="window.location='/create/playlist?playlist_id=@item.id';">
                                    @item.name
                                </div>
                            </div>

                            <div id="editName_cont_@item.id" style="display:none; width:334px; float:left; ">
                            @using (Html.BeginForm("AccountPlaylists_EditPlaylist", "account", FormMethod.Post))
                            {
                                <input class="PlstItm_PlName" name="PlaylistName" id="PlaylistName" type="text" value="@item.name" />
                                <input class="PlstItm_PlSave" type="submit" value="Save" />
                                <input class="PlstItm_PlSave" type="button" value="Cancel" onclick="Pl_CancelPlaylist(@item.id);" />
                                <input name="PlaylistID" id="PlaylistID" type="hidden" value="@item.id" />
                            }
                            </div>
                            <div class="PlstItm_Edt" title="Edit Playlist" onclick="Pl_EditPlaylist(@item.id);"></div>
                            <div class="PlstItm_Del" title="Delete Playlist" onclick="Pl_DelPlaylist(@item.id);"></div>
                        </div>
                    }
                    else 
                    {
                        <!-- no active -->
                        <div class="PlstItm" onmouseover="this.style.backgroundColor='#ABABAB';" onmouseout="this.style.backgroundColor='#FFFFFF';">
                            <div id="textName_cont_@item.id" class="plstII">
                                <span onclick="OpenPlayerM('/playlists/user/@User.Identity.Name?@item.id');" style="display:block; float:left; width:24px; height:24px; line-height:24px; margin:3px 0 0 0; background:#47bb90 url(/imgs/play_icon.png) no-repeat 6px 4px; border-radius:15px; ">
                                </span>
                                <div onclick="window.location='/create/playlist?playlist_id=@item.id';">
                                    @item.name
                                </div>
                            </div>
                                        
                            <div id="editName_cont_@item.id" style="display:none; width:334px; float:left; ">
                            @using (Html.BeginForm("AccountPlaylists_EditPlaylist", "account", FormMethod.Post))
                            {
                                <input class="PlstItm_PlName" name="PlaylistName" id="PlaylistName" type="text" value="@item.name" />
                                <input class="PlstItm_PlSave" type="submit" value="Save"/>
                                <input class="PlstItm_PlSave" type="button" value="Cancel" onclick="$('#textName_cont_@item.id').css('display','block'); $('#editName_cont_@item.id').css('display','none');" />
                                <input name="PlaylistID" id="PlaylistID" type="hidden" value="@item.id" />
                            }
                            </div>
                                            
                            @using (Html.BeginForm("AccountPlaylists_MakeActivePlaylist", "account", FormMethod.Post))
                            {
                                <input name="Act_PlaylistID" id="Act_PlaylistID" type="hidden" value="@item.id" />
                                <input class="PlstItm_MkActive" type="submit" value="DEF" title="Make Default" style="float:left; width:30px; color:#ABABAB; background:none; " />
                            }
                                        
                            <div class="PlstItm_Edt" title="Edit Playlist" onclick="Pl_EditPlaylist(@item.id);"></div>
                            <div class="PlstItm_Del" title="Delete Playlist" onclick="Pl_DelPlaylist(@item.id);"></div>
                        </div>
                    }
                }
            </div>
            <div class="SongsInnrCont">
                <div class="MainHeadSongs" title="Play Playlist: @ViewBag.ActivePlaylistName" onclick="OpenPlayerM('/playlists/user/@User.Identity.Name?@ViewBag.ActivePlaylistID');">
                    <div>@ViewBag.ActivePlaylistName</div>
                </div>
                <div id="sortablePlaylist">
                @{ int i_counter = 1;}
                @foreach (var item in Model.userActivePlaylist_Songs_list)
                {
                    <div class="srt_itm" id="song_@item.playlist_track_id">
                    
                        <div class="SongTitle" onmouseup="isMOUSE_UP_ON = true;" onmousedown="mouse_down($('#song_@item.playlist_track_id'));" onmouseout="mouse_up($('#song_@item.playlist_track_id'), '@item.playlist_track_id', @ViewBag.ActivePlaylistID );" >
                            <img class="SongImg" alt="" src="http://i.ytimg.com/vi/@item.YoutubeId/0.jpg" />
                            <span>@(i_counter)</span>
                            @item.Title
                        </div>
                                    
                                    
                        <div class="SongItm_Edt" title="Play Song" onclick="OpenPlayerM('/playlists/song/@item.YoutubeId?@HttpUtility.UrlEncode(item.FullTitle)')"></div>
                        <div class="SongItm_Del" title="Delete Song" onclick="Pl_DelSong(@item.playlist_track_id, @ViewBag.ActivePlaylistID);"></div>
                    </div>
    
                    i_counter = i_counter + 1;

                    if (i_counter > 400)
                    {
                        <div id="LoMPlstBtn" class="srt_itm" onclick="load_more_songs_plst_details();">
                            <div id="LoMPlstBtnHeader" style="float:left; width:100%; line-height:50px; font-size:21px; text-align:center; color:#fcf088;">
                                Load more songs for this playlist
                            </div>
                        </div>
                        break;
                    }
                }
                </div>

                <!-- botttom, tags -->
                @if (Model.userActivePlaylist_Songs_list.Count == 0)
                {
                    <div class="EmptyPlCont">
                        <div>Playlist is empty</div>
                    </div>
                }
                <div class="AddNewSong_Container" onclick="window.location='/listen';">&nbsp;+ Add New Song</div>
                <div class="AddNewTag_Container" onclick="$('#AddNewTag_InnrContainer').css('display','block');">&nbsp;+ Add New Tag</div>
                            

                <div id="tagsConHldr1">
                    <div class="tagsCHHeader1">Tags</div>

                    <div id="tagsMCH1">
                        @foreach (var item in Model.tags_list)
                        {
                            <a class="TagI" href="/tags/@HttpUtility.UrlEncode(item.Tag_Name)">@item.Tag_Name</a>
                        }
                        <div id="tagsEditBtn" onclick="loadtagsForEdit(); $('#AddNewTag_InnrContainer').css('display','block');">Manage</div>
                    </div>
                </div>

                <div id="AddNewTag_InnrContainer">
                    <input type="text" maxlength="30" name="newTagName" id="newTagName" style="width:195px; float:left; height:22px; border:none; font-size:13px; border:1px solid #d4ae52;" />
                    <input type="hidden" name="newTagPlst" id="newTagPlst" value="@ViewBag.ActivePlaylistID" />
                    <input type="button" value="Add New Tag" onclick="add_new_tag();"  style="float:left; height:25px; margin-left:5px;" />
                    <input type="button" value="Cancel" onclick="$('#AddNewTag_InnrContainer').css('display','none');" style="float:left; height:25px; margin-left:5px;" />
                </div>

                <script type="text/javascript">
                    function add_new_tag_nav() {
                        $('#AddNewTag_InnrContainer').css('display', 'block');
                        var vrval = $('#AddNewTag_InnrContainer').position().top - $(window).height() / 2 - 50;
                        $('html').scrollTop(vrval);
                        $('body').scrollTop(vrval);
                    }


                    function load_more_songs_plst_details() {
                        $("#LoMPlstBtnHeader").html("Loading...");

                        $.ajax({
                            type: "POST",
                            url: "/create/playlistDetailsAD?playlist_id=@ViewBag.ActivePlaylistID",
                            async: true,
                            success: function (data) {
                                $('#LoMPlstBtn').css('display', 'none');
                                $('#sortablePlaylist').append(data);
                            }
                        });
                    }


                    function clean_dead_links()
                    {
                        Hide_Content();

                        $(document).scrollTop(0);

                        $.ajax({
                            type: "POST",
                            url: "/playlist/CleanDeadLinks?PL_ID=@ViewBag.ActivePlaylistID",
                            async: true,
                            success: function (data) {
                                $('#popupContainer').html(data);
                            }
                        });
                    }
                </script>

                <style>    
                    #sortablePlaylist { list-style-type:none; margin: 0; padding: 0; float:left; width:100%; margin-bottom:8px; }    
                    #sortablePlaylist .srt_itm { float:left;  width:95%; height:57px; background-color:#FFFFFF; color:#000000; cursor:pointer; overflow:hidden; margin-top:4px; }
                </style>
                <script type="text/javascript">
                    $(function () { $("#sortablePlaylist").sortable(); $("#sortablePlaylist").disableSelection(); });

                    $(document).ready(function () {
                        $('.srt_itm').mouseover(function () { $(this).css("background-color", "#ABABAB"); });
                        $('.srt_itm').mouseout(function () { $(this).css("background-color", "#FFFFFF"); });
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<script>CPLS(2);</script>

