@model hypster.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Areas/m/Views/Shared/_Layout_Mobile.cshtml";
}



<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>






<div class="boxContRight boxContRightTop" >
    <div id="listenSlide1" class="slideRight" style=" min-height:270px;">

            

                <div style=" float:left; width:100%; min-height:250px; margin:0px 0 0 0px; padding:10px; ">
                
                        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
         
                            <div style=" font-size:25px;">
                                Sign in to Hypster.com
                            </div>
            

        
                            <div style=" font-size:18px; margin-top:15px;">
                                Username:
                            </div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "txtLogin" })<br />

             
                            <div style=" font-size:18px; margin-top:10px;">
                                Password:
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "txtLogin" })<br />
                
                

                            <div style=" float:left; margin:7px 0 0 0;">
                                @Html.CheckBoxFor(m => m.RememberMe) 
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                            </div>
                            
                            <input type="submit" value="Log in" style=" float:right; width:280px; height:33px; margin:20px 20px 0 0; border-radius:3px;" />
        
                        
                            <div style=" float:left; width:100%;">
                                @Html.ValidationSummary(true, "", new { @class = "txtValidator" })

                                
                                <a href="/account/ForgotPassword" style=" color:#fcf088;">Forgot your password?</a>
                                
                                
                                @if (ViewBag.ActivateAccount != null && ViewBag.ActivateAccount == true)
                                {
                                    <a href="/account/ActivateAccount">To activate click here</a>
                                }
                            </div>
                        }
                </div>

                <div style=" float:left; width:98%; height:250px; margin:4% 1% 1% 1%; ">
                
                    <div style=" font-size:27px;">
                        &nbsp;Don't Have An Account?
                    </div>

                    <div onclick="window.location='/m/maccount/register';" style=" float:left; width:98%; height:170px; line-height:150px; margin:1%; background-color:#121212; border-radius:3px; font-size:35px; text-align:center; cursor:pointer;">
                        Register
                    </div>

                </div>


                


    </div>
</div>

