@model hypster.ViewModels.listenViewModel
@{
    Layout = null;
}


@for (int i = 0; i <= 40; i++)
{
    if (i < Model.most_viewed_playlists.Count)
    {
        <div class="plItem" onclick="OpenPlayerM('/m/mplaylists/user/@(Model.most_viewed_playlists[i].username)?@(Model.most_viewed_playlists[i].id)');">
            <div class="plName">@Model.most_viewed_playlists[i].name</div>
            <a class="plPlay" title="play"></a>

            <a class="PlstViews" title="@Model.most_viewed_playlists[i].ViewsNum views">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model.most_viewed_playlists[i].ViewsNum)</a>
            <a class="PlstLikes" title="@Model.most_viewed_playlists[i].Likes likes">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model.most_viewed_playlists[i].Likes)</a>
        </div>
    }
}



<div id="GMVP_PlstPreview">
    <div class="LdingPrev">Loading...</div>
</div>
