@model List<hypster_tv_DAL.Chart>
@{
    ViewBag.Title = "Charts";
    Layout = null;

    int i_counter = 1;

    Layout = "/Areas/senses/Views/Shared/_srLayout.cshtml";
}




<div class="cir_back_btn"> 
    <div onclick="clickBack()" style=" float:left; width:100%; margin:0px 0 0 0px; cursor:pointer; ">
        BACK
    </div>
</div>




<div class="chartsBlkBoxBorder1">
    


    <div class="ctL1">
        
        <div class="chartsBlkBox1">

                
                <div id="msgBox1_charts" style=" float:none; width:400px; margin:auto; ">
                    
                    <div style=" margin:10px 0 10px 0; color:#FFFFFF;">
                        THERE ARE @Model.Count CHARTS AVAILABLE.
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="mnuItm" id="menu_@(i_counter)" data-plstid="@item.Chart_GUID" data-plstname="@item.Chart_Name.Replace("\'","")" onclick="LoadPlaylist('@item.Chart_GUID')">
                            @item.Chart_Name
                        </div>
    
                        i_counter += 1;
                    }

                    <div style=" width:100%; height:40px;">
                    </div>
                  
                </div>

            
        </div>

    </div>




    <div class="ctR1" style=" background:#FFFFFF url('/Areas/senses/imgs/senses_back/back_5.jpg') no-repeat center;">
        
        <img alt="" src="/Areas/senses/imgs/senses_ct_icon.png" style=" float:left; margin:50px 0 0 8px;" />

    </div>

    

</div>












<script type="text/javascript">
    $(document).ready(function () {

        cancelSpeech();
        startSpeech('There are @Model.Count charts available.');

    });
</script>


<script type="text/javascript">

    var CURR_ACTIVE_MENU = 0;
    var MENU_COUNT = @Model.Count;


    function HandleKeyAction(e) {

        cancelSpeech();
        

        var KEY_CODE = 0;

        if (window.event) {
            KEY_CODE = window.event.keyCode;
        }
        else {
            KEY_CODE = e.which;
        }


        //alert(KEY_CODE);


        //ESC
        if (KEY_CODE == 27) {
            clickBack();
        }



        //enter
        if (KEY_CODE == 13) {
            
            //alert($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid"));
            
            
            //load current playlist
            //--------------------------------------------------------------------
            LoadPlaylist($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstid"));
            //--------------------------------------------------------------------

        }




        //down
        if (KEY_CODE == 40) {
            //move menu down

            CURR_ACTIVE_MENU += 1;
            if (CURR_ACTIVE_MENU > MENU_COUNT) {
                CURR_ACTIVE_MENU = MENU_COUNT;
            }

            startSpeech($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));
            

            $(".mnuItm").css("background-color", "#000000");
            $("#menu_" + CURR_ACTIVE_MENU).css("background-color", "#318E8A");
        }


        //up
        if (KEY_CODE == 38) {
            //move menu up

            CURR_ACTIVE_MENU -= 1;
            if (CURR_ACTIVE_MENU <= 0) {
                CURR_ACTIVE_MENU = 1;
            }

            startSpeech($("#menu_" + CURR_ACTIVE_MENU).attr("data-plstname"));
            

            $(".mnuItm").css("background-color", "#000000");
            $("#menu_" + CURR_ACTIVE_MENU).css("background-color", "#318E8A");
        }





        if (KEY_CODE > 48 && KEY_CODE < 58) {
            
            var PLST_NUM = KEY_CODE - 48;

            //load current playlist
            //--------------------------------------------------------------------

            window.location = "/senses/sListen/chart/" + $("#menu_" + PLST_NUM).attr("data-plstid") + "?ba=" + encodeURI("/senses/sCharts");

        }



        //CNTRL
        if (KEY_CODE == 17) {
            StartVoiceCommand("home");
            return;
        }


    }


    function ProccessVoiceCommand(comm) {

        var isHandled = false;
        isHandled = handle_generic_commands(comm);

    }




    

    function clickBack(){

        cancelSpeech();

        //window.history.back();
        window.location = "/senses/sStart/home";
    }


    function LoadPlaylist(plst_id)
    {
        cancelSpeech();

        window.location = "/senses/sListen/chart/" + plst_id + "?ba=" + encodeURI("/senses/sCharts");

    }



</script>
