@model hypster.ViewModels.celebsIndexViewModel
@{
    ViewBag.Title = "Nuevo Reproductor para el blog de Tumblr o Personal";
    ViewBag.Desc = "player for Tumblr allows to choose from lot of new features and skins, save state, support different platforms, splitted controls and more";

    Layout = "~/Areas/es/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript">
    $(document).ready(function () { RenderPage(); });
    $(window).resize(function () { RenderPage(); });
</script>








<div class="boxContLeft boxContRightTop">
    <div id="listenSlide1" class="slideLeft" style=" min-height:420px; ">
        
            <div class="NPFT_Head" >
                <div style=" float:left; width:100%; margin:5px 0 5px 0; font-size:34px; color:#39484f;">
                    &nbsp;Nuevo Reproductor para el blog de Tumblr o Personal
                </div>

                <div class="BenContHolder">
                    <div class="BenItem">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Reproductor Hypster soporta múltiples plataformas, incluyendo teléfonos inteligentes, tabletas y PC.</div>
                    <div class="BenItem">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Reproductor Hypster acata mediante YouTube derechos de Autor, Términos y Condiciones. Esto crea un mayor acceso a las canciones de los usuarios. <div style=" font-size:14px; margin:-7px 0 0 17px;">(Nota: Los propietarios de contenidos pueden restringir el acceso a las canciones.)</div></div>
                    <div class="BenItem">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Hypster ofrece un reproductor personalizable.</div>
                    <div class="BenItem">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Hypster lista de reproducción se puede ajustar sin cambiar los parámetros del código.</div>
                    <div class="BenItem">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Hypster Reproductor recordará la configuración del usuario, y continuará la canción en la próxima visita.</div>
                    <div class="BenItem">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Ajustes del Reproductor Hypster seguirán siendo los mismos para múltiples páginas de un blog y continuarán la canción de la última página / visita</div>
                    <div class="BenItem" style=" margin-bottom:0px;">
                        <input type="radio" value="" disabled="disabled" style=" float:left; margin-top:8px; padding:0px;" />
                        &nbsp;Controles partido: Usuario podrá colocar múltiples Reproductores Hypster en una o más páginas.</div>
                </div>
            </div>

    </div>
</div>







<div class="boxContRight">
<div id="listenSlide2" class="slideRight" style=" min-height:595px; ">


    <div class="NPFT_PP_ContHolder">

            <div class="NewPlayerForTumblr"><h2>Nuevo Reproductor para Tumblr</h2></div>
            <div class="GetCodeBtn" onclick="window.location='/es/hypsterEs/New_Player_For_Tumblr_Code_1';"><h2>Obtener Código</h2></div>



            <div id="CPL_Tab1" style=" width:830px; min-height:1850px; padding:5px;">
        
                <div class="topHeader"><h1 style=" font-size:33px; margin:20px 0 0px 10px;">Tumblr Prevista</h1></div>


                <div class="middleCont">

    
                    <div style=" float:left; width:270px; margin-right:5px; ">
                        
                        <div style=" float:left; margin:0px 0 10px 4px;">
                            <script id="HypPlayerScript" type="text/javascript" src="http://hypster.com/a/player6.js"  hypHostName="hypster.com" hypUserID="4398055" hypPlaylistID="5799501" hypPlayerControls="1" hypAutostart="1" hypPlayerSort="rand" hypMainBackColor="#E34C00" hypPrevButtonColor="#D62D2D" hypPlayPauseButtonColor="#E05E36" hypNextButtonColor="#C73E75" hypShuffleButtonColor="#E362B8" hypHypsterButtonColor="#2488BA" hypVisibility="visible"  hypSaveState="1" ><!-- Hypster Player --></script>
                        </div>


                        @for (int i = 0; i < Model.posts_list.Count; i += 3)
                        {
                            if (i < Model.posts_list.Count)
                            {
                            <a href="@Model.posts_list[i].celeb_url" target="_blank">
                                <img alt="@Model.posts_list[i].celeb_name" src="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_celebs/thumb_@Model.posts_list[i].celeb_image" style=" cursor:pointer; width:98%; border:2px solid #59666c; border-radius:2px; margin:0 0 10px 0; " />
                            </a>
                            }
                        }
                    </div>
            


                    <div style=" float:left; width:270px; margin-right:5px;">
                        @for (int i = 1; i < Model.posts_list.Count; i += 3)
                        {
                            if (i < Model.posts_list.Count)
                            {
                            <a href="@Model.posts_list[i].celeb_url" target="_blank">
                                <img alt="@Model.posts_list[i].celeb_name" src="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_celebs/thumb_@Model.posts_list[i].celeb_image" style=" cursor:pointer; width:98%; border:2px solid #59666c; border-radius:2px; margin:0 0 10px 0; " />
                            </a>
                            }
                        }
                    </div>



                    <div style=" float:left; width:270px; margin-right:0px;">
                        @for (int i = 2; i < Model.posts_list.Count; i += 3)
                        {
                            if (i < Model.posts_list.Count)
                            {
                            <a href="@Model.posts_list[i].celeb_url" target="_blank">
                                <img alt="@Model.posts_list[i].celeb_name" src="http://@System.Configuration.ConfigurationManager.AppSettings["newsHostName"]/imgs/i_celebs/thumb_@Model.posts_list[i].celeb_image" style=" cursor:pointer; width:98%; border:2px solid #59666c; border-radius:2px; margin:0 0 10px 0; " />
                            </a>
                            }
                        }
                    </div>

                    
                </div>


            </div>
    </div>
</div>
</div>










<div class="boxContLeft">
    <div id="listenSlide3" class="slideLeft" style=" min-height:95px; ">
        
            
            <div class="NPFT_BHead">
                <div class="NPFT_GoOnTop" onclick="$(document).scrollTop(0);">
                    Ir a la Parte Superior
                </div>

            </div>

    </div>
</div>
