@model List<hypster_tv_DAL.FeaturedPlaylist>
@{
    Layout = null; 
}



<div id="listenSlideContHolder" style=" float:left; width:1024px; min-height:450px; ">
<div class="PopularPlaylists">



        <div class="PopularHeaderCont">
            <div id="PopularPlaylistsSlide2_header">
                <div class="FeaturedHeaderBack">
                    <a href="/playlists">Featured Playlists</a>
                </div>
            </div>
        </div>




        @{
            int back_id = 1;
        }
        <div style="float:left; width:1024px; min-height:300px; margin-top:5px; ">


            <div class="PopularPlstsCont">
            @for (int i = 0; i < 7; i++)
            {
                if (i < Model.Count)
                {
                    <div @if (back_id == 1){ <text>class="PlstItmD1"</text> }else{<text>class="PlstItmD2"</text>} onclick="OpenPlayer('media_type=playlist&playlist_id=@(Model[i].FeaturedPlaylist_ID)&us_id=@(Model[i].FeaturedPlaylist_UserID)');" onmouseover="DispPopPlstDetails(this, @Model[i].FeaturedPlaylist_ID, @Model[i].FeaturedPlaylist_UserID);" onmouseout="HidePopPlstDetails(event, this);" >
                        <div class="PlstTitle">@Model[i].FeaturedPlaylist_PlaylistName</div>
                        <a class="PlstLstn" title="play"></a>
                    </div>
                }

                back_id = back_id * -1;
            }
            </div>




            <div class="PopularPlstsCont" style="margin-left:23px;">
            @for (int i = 7; i < 14; i++)
            {
                if (i < Model.Count)
                {
                    <div @if (back_id == 1){ <text>class="PlstItmD1"</text>}else{<text>class="PlstItmD2"</text>} onclick="OpenPlayer('media_type=playlist&playlist_id=@(Model[i].FeaturedPlaylist_ID)&us_id=@(Model[i].FeaturedPlaylist_UserID)');" onmouseover="DispPopPlstDetails(this, @Model[i].FeaturedPlaylist_ID, @Model[i].FeaturedPlaylist_UserID);" onmouseout="HidePopPlstDetails(event, this);" >
                        <div class="PlstTitle">@Model[i].FeaturedPlaylist_PlaylistName</div>
                        <a class="PlstLstn" title="play"></a>
                    </div>
                }

                back_id = back_id * -1;
            }
            </div>




            <div class="PopularPlstsCont" style="margin-left:23px;">
            @for (int i = 14; i < 21; i++)
            {
                if (i < Model.Count)
                {
                    <div @if (back_id == 1){ <text>class="PlstItmD1"</text> }else{<text>class="PlstItmD2"</text>} onclick="OpenPlayer('media_type=playlist&playlist_id=@(Model[i].FeaturedPlaylist_ID)&us_id=@(Model[i].FeaturedPlaylist_UserID)');" onmouseover="DispPopPlstDetails(this, @Model[i].FeaturedPlaylist_ID, @Model[i].FeaturedPlaylist_UserID);" onmouseout="HidePopPlstDetails(event, this);" >
                        <div class="PlstTitle">@Model[i].FeaturedPlaylist_PlaylistName</div>
                        <a class="PlstLstn" title="play"></a>
                    </div>
                }

                back_id = back_id * -1;
            }
            </div>

        </div>





        <div class="NPFT_BHead" style=" margin-top:15px; ">
                    
            <div class="NPFT_BottomAd" style="background-color: #303030; border: 3px solid #303030;">
                <div id="TopAdd1_d8d2362fgki"></div>
            </div>

            <div class="NPFT_GoOnTop" style=" background-color:#303030;" onclick="$(document).scrollTop(0);">
                Go To Top
            </div>

        </div>





        <div id="PP_PlstPreview">
            <div class="LdingPrev">Loading...</div>
        </div>


</div>
</div> 
