@model hypster.ViewModels.listenViewModel
@{
    Layout = null;
}


@for (int i = 0; i <= 40; i++)
{
    if (i < Model.most_viewed_playlists.Count)
    {
        <div class="plItem">
            <div class="plName" onclick="OpenPlayerM('/apps/appPlaylists/user/@(Model.most_viewed_playlists[i].username)?@(Model.most_viewed_playlists[i].id)');">@Model.most_viewed_playlists[i].name</div>
            <a class="plPrw" onclick="DPLDD(this, @Model.most_viewed_playlists[i].id, @Model.most_viewed_playlists[i].userid);"></a>
            <!-- onmouseout="HPLDD(event, this);" ></a-->
            <a class="plPlay" onclick="OpenPlayerM('/apps/appPlaylists/user/@(Model.most_viewed_playlists[i].username)?@(Model.most_viewed_playlists[i].id)');"></a>
            <a class="PlstViews" title="@Model.most_viewed_playlists[i].ViewsNum views">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model.most_viewed_playlists[i].ViewsNum)</a>
            <a class="PlstLikes" title="@Model.most_viewed_playlists[i].Likes likes">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model.most_viewed_playlists[i].Likes)</a>
        </div>
    
    
    }
}



<div id="GMVP_PlstPreview">
    <div class="LdingPrev">Loading...</div>
</div>
