@model hypster.ViewModels.listenViewModel
@{
    ViewBag.Title = "Free online music playlist";
    ViewBag.Desc = "Create you own free online music playlists and embed them on blogs such as Tumblr or Blogger";
    ViewBag.ActivePage = "listen";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";

    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com/listen\" >";
}

<script type="text/javascript">
    active_menu = ".mListen";
    @if (ViewBag.ActiveMenu == "RADIO")
    {
        <text>
            $(document).ready(function(){
                 Open_Menu2();
            });
        </text>
    }
</script>

<div class="listenMenuCont">     
    <div id="Menu1" onclick="Open_Menu1()" title="Search Music">SEARCH MUSIC</div>
    @if (User.Identity.IsAuthenticated == true)
    {
        <div id="Menu3" class="Menu3_LG" onclick="Open_Menu3()" title="Listen Playlists">MY PLAYLISTS</div>
    }
    else
    {
        <div id="Menu3" class="Menu3" onclick="Open_Menu3()" title="Listen Playlists">PLAYLISTS</div>
    }
    <div id="Menu2" onclick="Open_Menu2();" title="Listen Radio Stations">HYPSTER RADIO</div>
</div>

<div class="listenTabCh2">       
    <div id="listenTab1" style="margin-top:5px;">
        <div id="MainSearchLn" class="contTop">
            <div class="srchListBoxCont">
                <div class="srchListBox">
                    <input type="text" id="txtSearchString" name="txtSearchString" onKeyUp="ListenSearchString_KeyUp(event)" value="@if (@ViewBag.searchString != null) {<text>@ViewBag.searchString</text>} else {<text> Enter Artist, Song or Genre</text>}" onfocus="if(this.value == ' Enter Artist, Song or Genre') this.value = '';" onblur="if(this.value == '') this.value = ' Enter Artist, Song or Genre';" />
                    <div id="btnSearch" onclick="SearchMusic();"></div>
                </div>

                <div id="AddSearch">
                    <div id="AddSearchIC">
                        <div class="advSearchLeft">
                            <div class="AdvSrch">&nbsp;Search by youtube id (GJzF7H2e3Tw):</div>
                            <div class="AdvSrchYTS">
                                <input type="text" id="txtSearchString_youtube" name="txtSearchString" value="Enter youtube id" onfocus="if(this.value == ' Enter youtube id') this.value = '';" onblur="if(this.value == '') this.value = ' Enter youtube id';" />
                                <div id="btnSearch_youtube" onclick="SearchMusicYTID();">Search</div>
                            </div>
                        </div>
                        <div class="advSearchRight">
                            <div class="AdvSrch">&nbsp;Order By:</div>
                            <div class="AdvSrchOrdr">
                                <div>
                                    <input type="radio" name="group_orderBy" value="relevance">Relevance<br>
                                    <input type="radio" name="group_orderBy" value="published">Published<br>
                                    <input type="radio" name="group_orderBy" value="viewCount">View Count<br>
                                    <input type="radio" name="group_orderBy" value="rating">Rating<br>
                                </div>
                            </div>
                            <div class="AdvSrch">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div id="searchStr"></div>
            </div>
        </div>
        <div id="listenSlideContHolder">
            <div class="CompCheckC"></div>
        </div>        
    </div>
    <div id="listenTab2">
        <div class="contLimit">
            <div id="RSBch1" class="contTop">
                @*Html.Action("RadioStationsBar", "listen")*@
            </div>
        </div>
    </div>
    
    <div id="listenTab3">
        <div class="contLimit" style="min-height:250px;">
            <div class="lisMyPlstsHdr">@if (User.Identity.IsAuthenticated == true) {<text>&nbsp;&nbsp;MY</text>} else {<text>&nbsp;&nbsp;POPULAR</text>} PLAYLISTS</div>
            @if (User.Identity.IsAuthenticated == true)
            {
                for (int i = 0; i < Model.most_viewed_playlists.Count; i++)
                {
                    <div class="plItem">
                        <div class="plName" onclick="OpenPlayerM('/apps/appPlaylists/user/@User.Identity.Name?@(Model.most_viewed_playlists[i].id)');">@Model.most_viewed_playlists[i].name</div>
                        <a class="plPrw" onclick="DispPlstMyLikeDetails(this, @Model.most_viewed_playlists[i].id, @Model.most_viewed_playlists[i].userid);"></a> 
                        <!--onmouseout="HidePlstMyLikeDetails(event, this);" ></a-->
                        <a class="plEdit" title="Edit playlist" onclick="window.location='/apps/appCreate/playlist?playlist_id=@Model.most_viewed_playlists[i].id'"></a>
                        <a class="plPlay" title="Play playlist" onclick="OpenPlayerM('/apps/appPlaylists/user/@User.Identity.Name?@(Model.most_viewed_playlists[i].id)');"></a>
                    </div>  
                }
            }
            else
            {
                @Html.Action("GetMostViewedPlaylists", "appListen")
            }
            <div class="plItemCreate" title="Create new playlist" onclick="window.location='/apps/appCreate/playlist';">
                <div>+ CREATE PLAYLIST</div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated == true)
        {
            <div class="contLimit" style="min-height:182px;">
                <div class="lisMyPlstsLikeHdr">&nbsp;&nbsp;PLAYLISTS I LIKE</div>
                @for (int i = 0; i <= 25; i++)
                {
                    if (i < Model.playlists_I_like.Count)
                    {
                        <div class="plItem">
                            <div class="plName" onclick="OpenPlayerM('/apps/appPlaylists/user/@(Model.playlists_I_like[i].username)?@(Model.playlists_I_like[i].id)');">@Model.playlists_I_like[i].name</div>
                            <a class="plPrw" onclick="DispPlstMyLikeDetails(this, @Model.playlists_I_like[i].id, @Model.playlists_I_like[i].userid);"></a>
                            <!-- onmouseout="HidePlstMyLikeDetails(event, this);" ></a-->
                            <a class="plPlay" onclick="OpenPlayerM('/apps/appPlaylists/user/@(Model.playlists_I_like[i].username)?@(Model.playlists_I_like[i].id)');"></a>
                            <a class="PlstViews" title="@Model.playlists_I_like[i].ViewsNum views">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model.playlists_I_like[i].ViewsNum)</a>
                            <a class="PlstLikes" title="@Model.playlists_I_like[i].Likes likes">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(Model.playlists_I_like[i].Likes)</a>
                        </div>
                    }
                }
                <div class="plItemCreate" title="More Playlists I Like" onclick="window.location='/apps/appAccount/music#plstil';">
                    <div>+ MORE PLAYLISTS I LIKE</div>
                </div>                                
            </div>
        }
        <div id="PMYLIKE_PlstPreview">
            <div class="LdingPrev">Loading...</div>
        </div>
    </div>
</div>
<div class="shrBtwnC1">
    <span>@Html.Partial("~/Views/hypAds/ad_300x250_mob.cshtml")</span>
</div>
<script type="text/javascript">
    @if (ViewBag.PLST != null && ViewBag.PLST == true)
    { <text>Open_Menu3();</text> }

    @if (ViewBag.searchString != null)
    {
        <text>SearchMusicStr('@ViewBag.searchString');</text>
    }
</script>
