@model List<hypster_tv_DAL.AolSeedVideo>
@{  
    Layout = null;
}

<!DOCTYPE html>
<html>



<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>www.gowilkes.com</title>
    <meta name="description" content="" />
    
    <script src="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"  type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"  type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"  type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>


    <link href="/Areas/hypWidget/css/goWilkes.css?id=13287293209" rel="stylesheet" type="text/css" />

</head>





<body margintop="0">
    <center>
   

        <div id="mch1">
            
            <div id="RvideoMC">
                @foreach (var item in Model)
                {   
                    <embed width="620" height="360" src="@(item.enclosure)&volume=0" />
                    break;
                }
            </div>


            
            <div class="widTitle">
                <span class="large">@ViewBag.headline</span>
                <span class="small">&raquo;</span>
            </div>
            



            @foreach (var item in Model)
            {   
                <a class="widItem1" onclick="createFlashMarkup('@(item.enclosure)&volume=80');">
                    <img alt="" src="@item.image" />
                    <div>
                        <span><b>@item.title</b></span>
                        <span style=" color:#757575;">@item.pub_date</span>
                    </div>
                </a>
            }

        </div>


    </center>




    <script type="text/javascript">
        function createFlashMarkup(uri) {

            var embed = document.createElement('embed');
            embed.setAttribute('width', 620);
            embed.setAttribute('height', 360);
            embed.setAttribute('src', uri);


            $('#RvideoMC').html(embed);
        }
    </script>

    




    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28695705-1']);
        _gaq.push(['_setDomainName', 'hypster.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
   
</body>
</html>

