@model hypster.ViewModels.getAccountInfo_PrivateViewModel

@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}

 <div class="listenMenuCont">
                
    <div id="AcctCreatePlaylistSection1_sel" onclick="window.location='/apps/appAccount/info';" title="Search Music">
        INFO
    </div>

    <div id="AcctCreatePlaylistSection2" onclick="window.location='/apps/appAccount/music';" title="Listen Playlists">
        MUSIC
    </div>

</div>












@using (Html.BeginForm("InfoPost", "appAccount", FormMethod.Post))
{   
<!-- **************SECTION*************************** -->
<div class="acctInfoCH">
            


            <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
                PERSONAL INFO
            </div>



            <div style=" float:left; width:100%;">
           
                <div style=" float:left; width:100%; margin-bottom:0px; ">

                        

                        <div class="acctInfoERow">
            
                            <div class="acctIName">
                                <div>Name:</div>
                                <input type="text" name="Name" id="Name" value="@Model.curr_user.name" maxlength="40" />
                            </div>

                            <div class="acctIUsername">
                                <div>Username:</div>
                                <div>@Model.curr_user.username</div>
                            </div>

                        </div>
        

                        <div class="acctInfoERow">
            
                            <div class="acctIEmail">
                                <div>Email:</div>
                                <div>@Model.curr_user.email</div>
                            </div>

                            <div class="acctIDate">
                                <div>Member Since:</div>
                                <div>@Model.curr_user.regdate.ToShortDateString()</div>
                            </div>

                        </div>




                        <div class="acctInfoERow">
            
                            <div class="acctICity">
                                <div>City:</div>
                                <input type="text" name="City" id="City" value="@Model.curr_user.city" maxlength="30"  />
                            </div>

                            <div class="acctICountry">
                                <div>Country:</div>
                                <input type="text" name="Country" id="Country" value="@Model.curr_user.country" maxlength="30" />
                            </div>

                            <div class="acctIZip">
                                <div>Zip:</div>
                                <input type="text" name="Zip" id="Zip" value="@Model.curr_user.zipcode" maxlength="10"  />
                            </div>

                        </div>





                        <div class="acctInfoE1Row">
            
                            <div class="acctIBDate">
                                <div style=" float:left; margin:3px 0 0 7px; color:#2f5262;">Birth Date:</div>
                            </div>



                            <div class="acctIBDateMM">
                    
                                <select id="DOB_MM" name="DOB_MM" style=" float:left; outline: none; width:50px; height:26px; margin:2px 0 0 5px; background-color:#FFFFFF; border:none; font-family:'Lato', sans-serif; font-weight:lighter; font-size:18px;">
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i" @if (Model.curr_user.birth != null && Model.curr_user.birth.Value.Month == i)
                                                           { <text>selected="selected"</text>}>@i</option>
                                    }
                                </select>

                            </div>



                            <div class="acctIBDateDD">
                    
                                <select id="DOB_DD" name="DOB_DD" style=" float:left; outline: none; width:50px; height:26px; margin:2px 0 0 5px; background-color:#FFFFFF; border:none; font-family:'Lato', sans-serif; font-weight:lighter; font-size:18px;">
                                    @for (int i = 1; i <= 31; i++)
                                    {
                                        <option value="@i" @if (Model.curr_user.birth != null && Model.curr_user.birth.Value.Day == i)
                                                           { <text>selected="selected"</text>} >@i</option>
                                    }
                                </select>

                            </div>



                            <div class="acctIBDateYY">
                    
                                <select id="DOB_YYYY" name="DOB_YYYY" style=" float:left; outline: none; width:80px; height:26px; margin:2px 0 0 5px; background-color:#FFFFFF; border:none; font-family:'Lato', sans-serif; font-weight:lighter; font-size:18px;">
                                    @for (int i = 1900; i <= 2012; i++)
                                    {
                                        <option value="@i" @if (Model.curr_user.birth != null && Model.curr_user.birth.Value.Year == i)
                                                           { <text>selected="selected"</text>}>@i</option>
                                    }
                                </select>
                            </div>

                        </div>



                        <div style=" float:left; width:100%; min-height:25px; margin-top:15px;">

                            <div id="chngPassBtn" onclick="$('#chngPassBtn').css('display','none'); $('#changePassContHolder1').css('display','block');" style=" float:left; margin-left:0px; font-size:16px; color:#FFFFFF; background-color:#3fbc91; padding:3px 10px 3px 10px; border-radius:3px; cursor:pointer;">
                                CHANGE PASSWORD
                            </div>

                            <div id="changePassContHolder1" style=" display:none; line-height:25px; width:380px; text-align:right;">
                            
                                Old Password: <input type="password" name="OldUserPass" id="OldUserPass" maxlength="20" style=" width:230px; height:18px; background-color:#DEDEDE; border:none; border-radius:2px;" />
                                <br />
                                New Password: <input type="password" name="NewUserPass" id="NewUserPass" maxlength="20" style=" width:230px; height:18px; background-color:#DEDEDE; border:none; border-radius:2px;" />
                                <br />
                                Rep New Password: <input type="password" name="RepNewUserPass" id="RepNewUserPass" maxlength="20" style=" width:230px; height:18px; background-color:#DEDEDE; border:none; border-radius:2px;" />
                            </div>

                        </div>



                        <div style=" float:left; width:100%; min-height:25px; margin-top:10px;">
                                
                            <div style=" float:left; margin-left:0px; font-size:20px; color:#000000;">
                                I am interested in:
                            </div>
                            <div style=" float:left; margin-left:25px; font-size:20px; color:#000000;">
                                <input type="radio" name="interestP" value="1" @if (Model.curr_user.user_interest == 1)
                                                                               {<text>checked="checked"</text>} /> Players
                            </div>
                            <div style=" float:left; margin-left:25px; font-size:20px; color:#000000;">
                                <input type="radio" name="interestP" value="2" @if (Model.curr_user.user_interest == 2)
                                                                               {<text>checked="checked"</text>} /> Playlists
                            </div>
                            <div style=" float:left; margin-left:25px; font-size:20px; color:#000000;">
                                <input type="radio" name="interestP" value="3" @if (Model.curr_user.user_interest == 3)
                                                                               {<text>checked="checked"</text>} /> Both
                            </div>

                        </div>


                        <div style=" float:left; width:100%; margin-top:3px; color:#CC0000; font-size:18px;">
                            @ViewBag.ErrorStr
                        </div>

                </div>



            </div>



    
</div>


       
    
         
<div style=" float:left; width:100%; margin:35px 0 0 0;">

    
    <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
        MY PHOTOS
    </div>


    <div style=" float:left; width:100%; margin:5px 0 0 0px;">

        @{ int icount = 0; }
        @foreach (hypster_tv_DAL.Photo item in Model.userPhotos_list)
        {
            <div style=" float:left; width:120px; height:120px; border-radius:60px; overflow:hidden; margin:5px; background-color:#3fbc91; cursor:pointer;">
                <img onclick="ShowImage('@Url.Content("/userpics/" + User.Identity.Name + "/" + @item.id + ".jpg")');" src="@Url.Content("/userpics/" + User.Identity.Name + "/" + @item.id + "_s.jpg")" alt="" style=" float:left; width:120px; height:120px; margin:0px; background-color:#333333; border-radius:2px;" onerror="this.src='/imgs/user_img_nf.png';" />
            </div>
                        
            if (icount > 12)
            {
                break;
            }
            icount = icount + 1;
        }

        <div onclick="window.location='/apps/appAccount/pics';" style=" float:left; width:120px; height:90px; line-height:20px; border-radius:60px; padding:30px 0 0 0;  margin:5px; background-color:#3fbc91; color:#FFFFFF; font-size:80px; cursor:pointer; text-align:center;">+<br />
            <span style=" font-size:22px;">PHOTO</span>
        </div>

        <div onclick="window.location='/apps/appAccount/pics';" style=" float:left; width:120px; height:120px; line-height:120px; border-radius:60px;  margin:5px; background-color:#3fbc91; color:#FFFFFF; line-height:113px; font-size:23px; cursor:pointer; text-align:center;">
            MANAGE
        </div>

    </div>

</div>
           
<!-- **************SECTION*************************** -->








<div class="acctInfoSaveCH">

  
        <div style=" float:left; width:100%;">
            <div style=" float:left; cursor:pointer; width:100%; font-size:16px;">
                <input type="checkbox" id="checkNewsAboutMusic" name="checkNewsAboutMusic" @if (ViewBag.checkNewsAboutMusic == true){<text>checked="checked"</text>} /> Check if you want to receive  a regular dose of ​all things new music.
            </div>
        </div>



        <div style=" float:left; width:100%;">
           
            <div class="deactivateAcct" onclick="if(confirm('Are you sure you want to delete?') == true){window.location='/account/Deactivate';}">
                Deactivate My Account
            </div>

            <input type="submit" value="SAVE CHANGES" class="acctSaveChgsBtn" />

            <input type="button" value="SIGN OUT" class="acctSaveSingOutBtn" onclick="window.location='/apps/appAccount/logoff';" />


            <div class="mFollowUsCont1">
                        
                <div class="fuText">
                    Follow Us:
                </div>
                <div style=" float:left; margin:0px 0 0 5px;">
                    <a class="flwUs_wt_fbk" href="https://www.facebook.com/Hypster" target="_blank"></a>
                    <a class="flwUs_wt_twr" href="https://twitter.com/Hypsterdotcom" target="_blank"></a>
                    <a class="flwUs_wt_tum" href="http://hypsterblog.tumblr.com/" target="_blank"></a>
                </div>
            </div>

        </div>

</div>
    
    
    
    

    
} <!-- FORM END -->

























