
@model hypster.ViewModels.getAccountInfo_PrivateViewModel

@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";
}


<div class="listenMenuCont">
                
    <div id="AcctCreatePlaylistSection1" onclick="window.location='/apps/appAccount/info';" title="Search Music" >
        INFO
    </div>

    <div id="AcctCreatePlaylistSection2_sel" onclick="window.location='/apps/appAccount/music';" title="Listen Playlists">
        MUSIC
    </div>

</div>

















@using (Html.BeginForm("MusicPost", "appAccount", FormMethod.Post))
{ 

<!-- **************SECTION 2*************************** -->
<div id="Section2" style=" display:block;">




<div style=" float:left; width:100%;">
            
        <div style=" float:right; width:98%; margin:0% 1% 1% 1%; text-align:left; ">
                    
            <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
                MY FAVORITE GENRES
            </div>


            <div style=" float:left; width:100%; color:#000000;">
                    @for (int i = 0; i < Model.musicGenres_list.Count; i++)
                    {
                        <div style=" float:left; width:220px; margin:7px 0 0 10px; font-size:16px;">
                            <input type="checkbox" name="musicGenres_list" value="@Model.musicGenres_list[i].Genre_ID" @if (@Model.musicGenres_list[i].selected == true) { <text> checked="checked" </text>} /> @Model.musicGenres_list[i].GenreName
                        </div>
                    }
            </div>
        </div>

</div>






<div class="acctMyPlstsCH">
            <div style=" float:left; width:100%;">
                

                <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
                    MY PLAYLISTS
                </div>


                <div class="MyPlstsInnr">
                        
                        <div style=" float:left; width:100%; margin-top:3px;">
                            @{ int counter_userPlaylists_list = 0; }
                            @foreach (var item in @Model.userPlaylists_list)
                            {
                                if (counter_userPlaylists_list > 26)
                                {
                                    break;
                                }
                                else
                                {
                                    counter_userPlaylists_list++;
                                }


                                if (item.id == Model.curr_user.active_playlist)
                                {
                                    <div class="myPlstItm1">
                                        <div class="myPlstI1" onclick="OpenPlayerM('/apps/appPlaylists/user/@User.Identity.Name?@item.id');">
                                            <img alt="" src="/imgs/play_icon_lte.png" style=" margin:7px 7px 0 7px;" />
                                        </div>
                                        <div class="myPlstI2" onclick="OpenPlayerM('/apps/appPlaylists/user/@User.Identity.Name?@item.id');">
                                            @item.name
                                        </div>
                                        <div class="myPlstI3" onclick="window.location='/apps/appCreate/playlist?playlist_id=@item.id&us_id=@Model.curr_user.id';">
                                            <img alt="" src="/imgs/action_icons/edit_icon_s.png" style=" margin:5px 7px 0 10px;" />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="myPlstItm1">
                                        <div class="myPlstI1" onclick="OpenPlayerM('/apps/appPlaylists/user/@User.Identity.Name?@item.id');">
                                            <img alt="" src="/imgs/play_icon_lte.png" style=" margin:7px 7px 0 7px;" />
                                        </div>
                                        <div class="myPlstI2" onclick="OpenPlayerM('/apps/appPlaylists/user/@User.Identity.Name?@item.id');">
                                            @item.name
                                        </div>
                                        <div class="myPlstI3" onclick="window.location='/apps/appCreate/playlist?playlist_id=@item.id&us_id=@Model.curr_user.id';">
                                            <img alt="" src="/imgs/action_icons/edit_icon_s.png" style=" margin:5px 7px 0 10px;" />
                                        </div>
                                    </div>
                                }
                            }
                            <a class="myPlstsCreatePL" href="/apps/appCreate/playlist">+ Create Playlist</a>
                            <a class="myPlstsManagePL" href="/apps/appCreate/playlist">Manage Playlists</a>

                        </div>
                </div>


                
            </div>
</div>






<div class="acctMyPlayersCH">
            

             <div style=" float:right; width:98%; margin:1%; text-align:left; ">
                    
                    <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
                        MY PLAYERS
                    </div>


                    <div style=" float:left; width:100%; ">
    
                        @{
                        int back_id = 1;
                        }                       
                        @foreach (var item in Model.userPlayers_list)
                        {
                            <div class="myPlrsItm1">
                                
                                <div class="myPlrsName" style=" @if (back_id == 1){ <text>background-color:#EDEDED;</text>}else{<text>background-color:#EDEDED;</text>}">
                                    <div>@item.player_Name</div>
                                </div>

                                <div onclick="window.location='/apps/appCreate/player/@item.Player_Type?Pl_ID=@item.player_ID';" style=" @if (back_id == 1){ <text>background-color:#EDEDED;</text>}else{<text>background-color:#EDEDED;</text>} float:left; height:35px; line-height:35px; text-align:left; color:#FFFFFF; font-size:11px; margin-top:3px; margin-left:4px; cursor:pointer;">
                                    <img alt="" src="/imgs/action_icons/edit_icon_s.png" style=" margin:10px 10px 0 10px;" />
                                </div>

                                <div onclick="if(confirm('Are you sure you want to delete?') == true ){window.location='/apps/appPlayer/getPlayer?ACT=DeletePlayer&Pl_ID=@item.player_ID';}" style=" @if (back_id == 1){ <text>background-color:#EDEDED;</text>}else{<text>background-color:#EDEDED;</text>} float:left; height:35px; line-height:35px; text-align:left; color:#FFFFFF; font-size:11px; margin-top:3px; margin-left:4px; cursor:pointer;">
                                    <img alt="" src="/imgs/action_icons/delete_icon_s.png" style=" margin:10px 10px 0 10px;" />
                                </div>
                            </div>
                            
                                                                                                                                                                                             back_id = back_id * -1;
                        }
                        <a href="/apps/appCreate/player" style="display:block; float:left; width:180px; height:27px; line-height:27px; text-align:left; background-color:#3fbc91; color:#FFFFFF; border-radius:3px; margin-top:5px; padding-left:7px; cursor:pointer;">
                            + Create Player
                        </a>

                    </div>


            </div>
        

</div>







<div class="acctMyStationsCH">
        

           <div style=" float:left; width:98%; margin-bottom:10px;">
            
                
                <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
                    MY STATIONS
                </div>
                


                <div id="stationsA">
                    
                        <div style=" float:left; width:100%; margin-top:3px;">
                            @foreach (var item in @Model.radioStation_list)
                            {
                                if (item.RadioStationName != null && item.RadioStationQuery != null)
                                {
                                    <div class="myStationsItm">
                            
                                        <div onclick="OPLRRadio('@item.RadioStationQuery.Replace(" ", "+")')" style=" float:left; height:30px; line-height:30px; text-align:left; color:#FFFFFF; font-size:11px; background-color:#EDEDED;  cursor:pointer;">
                                            <img alt="" src="/imgs/play_icon_lte.png" style=" margin:7px 7px 0 7px;" />
                                        </div>

                                        <div class="myStationsName" onclick="OPLRRadio('@item.RadioStationQuery.Replace(" ", "+")')">
                                            @item.RadioStationName
                                        </div>

                                        <div onclick="if(confirm('Are you sure you want to delete?') == true){window.location='/apps/appAccount/deleteStation?station=@item.RadioStation_ID';}" style=" float:left; height:30px; line-height:30px; text-align:left; color:#FFFFFF; font-size:11px; background-color:#EDEDED; margin-left:4px; cursor:pointer;">
                                            <img alt="" src="/imgs/action_icons/delete_icon_s.png" style=" margin:7px 7px 0 7px;" />
                                        </div>
                                    </div>
                                }
                            }
                            <a href="/apps/AppCreate/station" style=" display:block; float:left; width:180px; height:27px; line-height:27px; text-align:left; background-color:#3fbc91; color:#FFFFFF; border-radius:3px; margin-top:5px; padding-left:7px; cursor:pointer;">
                                + Create Station
                            </a>
                        </div>
                </div>


                
            </div> 


</div>



</div>
<!-- **************SECTION 2*************************** -->





    
<div class="acctplstsILike">
            
        <a name="plstil"></a>
            
        <div style=" float:left; width:98%; margin-bottom:10px;">
                
                <div style=" float:left; width:99%; border:1px solid #3fbc91; color:#000000; font-family:'Lato', sans-serif; font-size:24px; margin:10px 0 10px 0; padding:5px 0 5px 0; text-align:center;">
                    PLAYLISTS I LIKE
                </div>
                

                <div class="acctplstsILikeInnr">
                @foreach (var item in Model.playlists_I_like)
                {
                    <div class="aPlstILkItm">
                            
                            <div onclick="OpenPlayerM('/apps/appPlaylists/user/@(item.username)?@(item.id)')" style=" float:left; height:30px; line-height:30px; text-align:left; color:#FFFFFF; font-size:11px; background-color:#EDEDED;  cursor:pointer;">
                                <img alt="" src="/imgs/play_icon_lte.png" style=" margin:7px 7px 0 7px;" />
                            </div>

                            <div class="aPlstILkName" onclick="OpenPlayerM('/apps/appPlaylists/user/@(item.username)?@(item.id)')">
                                @item.name

                                <a class="PlstViewsFp" title="@item.ViewsNum views">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(item.ViewsNum)</a>
                                <a class="PlstLikesFp" title="@item.Likes likes">@hypster.Controllers.helpers.PlaylistHelper.DisplayViews(item.Likes)</a>
                            </div>

                            <div onclick="if(confirm('Are you sure you want to delete?') == true){ window.location='/apps/appAccount/DeleteLikedPlaylist?playlist_id=@item.id&us_id=@Model.curr_user.id'; }" style=" float:left; width:35px; height:30px; line-height:30px; text-align:left; color:#FFFFFF; font-size:11px; background-color:#EDEDED;  cursor:pointer;">
                                <img alt="" src="/imgs/action_icons/delete_icon_s.png" style=" margin:5px 7px 0 10px;" />
                            </div>

                    </div>
                }
                </div>


        </div>  


</div>








<div style=" float:left; width:100%; margin:30px 0 30px 0;">
            


            <div style=" float:right; width:100%;">
                 
                 <input id="acctMusicSaveCh" type="submit" value="SAVE CHANGES" />

                 <div class="mFollowUsCont1">
                    <div class="fuText">Follow Us:</div>
                    <div style=" float:left; margin:0px 0 0 5px;">
                        <a class="flwUs_wt_fbk" href="https://www.facebook.com/Hypster" target="_blank"></a>
                        <a class="flwUs_wt_twr" href="https://twitter.com/Hypsterdotcom" target="_blank"></a>
                        <a class="flwUs_wt_tum" href="http://hypsterblog.tumblr.com/" target="_blank"></a>
                    </div>
                </div>

            </div>


</div>



}


