@{
    ViewBag.Title = "Хипстер на мобильном";
    ViewBag.Desc = "";

    Layout = "~/Areas/ru/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        RenderHypsterOnMobile();
    });
    $(window).resize(function () {
        RenderHypsterOnMobile();
    });
</script>







<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:630px;">
            
            <div style=" float:left; width:1024px;">

                <div style=" float:left; width:100%;">
                    <div style=" float:left; width:480px; height:40px; line-height:40px; font-size:26px;  font-weight:bold; color:#FCF088; ">
                        Хипстер доступен на мобильных устройствах
                    </div>
                    <a href="/account/Register" style=" display:block; float:left; background-color:#d28805; border-radius:2px; font-size:23px; padding:5px 20px 5px 20px;">
                        Регистрация
                    </a>
                </div>

                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_1.jpg" style=" float:left; margin:40px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:right; width:304px; margin-left:50px; ">                
                    
                    <div class="HOM_Ad1">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")

                        <!-- 06_25 -->
                        
                    </div>
                    
                    <div class="HOM_Ad2">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")

                        <!-- 06_25 -->
                        
                    </div>
                </div>

            </div>

     </div>
</div>





<div class="boxContLeft">
    <div id="listenSlide1" class="slideLeft" style=" min-height:630px;">
            

            <div style=" float:right; width:1024px;">

                <div style=" width:750px; font-size:26px; line-height:28px; font-weight:bold; color:#FCF088; ">
                    Вы можете создавать, управлять, слушайть, создавать плееры, радио и генерировать код, чтобы добавить плеер на Tumblr
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_2.jpg" style=" float:left; margin:40px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:right; width:304px; margin-left:50px; ">                
                    
                    <div class="HOM_Ad1">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")
                        <!-- 06_25 -->
                    </div>
                    
                    <div class="HOM_Ad2">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")
                        <!-- 06_25 -->
                    </div>
                </div>

            </div>


    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide2" class="slideRight" style=" min-height:630px;">
            

            <div style=" float:left; width:1024px;">

                <div style=" width:750px; font-size:26px; line-height:28px; font-weight:bold; color:#FCF088; ">
                    Слушать музыку на ходу
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_3.jpg" style=" float:left; margin:40px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:right; width:304px; margin-left:50px; ">                
                    
                    <div class="HOM_Ad1">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")

                        <!-- 06_25 -->
                        
                    </div>
                    
                    <div class="HOM_Ad2">
                        @Html.Partial("~/Views/hypAds/ad_300x250.cshtml")

                        <!-- 06_25 -->
                        
                    </div>
                </div>

            </div>

    </div>
</div>





