@model hypster.ViewModels.createPlaylist_ViewModel
@{
    Layout = null;
}


@{ int i_counter = 1;}
@foreach (var item in Model.userActivePlaylist_Songs_list)
{
    if (i_counter > 400)
    {
        <div class="srt_itm" id="song_@item.playlist_track_id">
                    
            <div class="SongTitle" onmouseup="isMOUSE_UP_ON = true;" onmousedown="mouse_down($('#song_@item.playlist_track_id'));" onmouseout="mouse_up($('#song_@item.playlist_track_id'), '@item.playlist_track_id', @ViewBag.ActivePlaylistID );" >
                <img class="SongImg" alt="" src="http://i.ytimg.com/vi/@item.YoutubeId/0.jpg" />
                @item.Title
            </div>
                                    
            <div class="SongItm_Edt" title="Play Song" onclick="OpenPlayer('song_guid=@item.YoutubeId&song_title=@HttpUtility.UrlEncode(item.FullTitle)');"></div>
            <div class="SongItm_Del" title="Delete Song" onclick="Pl_DelSong(@item.playlist_track_id, @ViewBag.ActivePlaylistID);"></div>
        </div>
    }

    i_counter = i_counter + 1;
}
