@{
    ViewBag.Title = "Music playlist online - Tumblr music player";
    ViewBag.Desc = "Make a playlist online for free, tumblr music player: create player for tumblr or blogger, listen to our 10 million playlists, create your own playlist online for free.";
    ViewBag.ActivePage = "hypster";
    Layout = "~/Areas/apps/Views/Shared/_Layout_Apps.cshtml";

    ViewBag.LinkTag = "<link rel=\"canonical\" href=\"http://hypster.com\" >";
}

@Scripts.Render("~/scripts/jquery.cycle.all.latest.js")


<div class="mainSlideshow">
    @Html.Action("Get_Home_Slideshow", "appHome")
</div>


<div class="homeBreakingWidget">
    @Html.Action("GetBreakingHomeWidget_PR", "appBreaking")
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingGenre", "appBreaking", new { genre = "Indie Pop" })
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingGenre", "appBreaking", new { genre = "Hip Hop and Rap" })
</div>

<div class="homeBreakingWidget">
    @Html.Action("GetBreakingGenre", "appBreaking", new { genre = "Rock" })
</div>